/* Hudson county Market
--------------------------------------------------*/
html {
    height: 100%;
    background: transparent url(/Assets/183/Images/corrugated_metal.jpg) repeat-x fixed;
}
body {
    font-size: 0.7em;
    height: 100%;
    background: transparent;
    font-weight: normal;
    font-style: normal;
    font-family: Georgia,Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.72em;
    color: black;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}
a:link,
a:visited,
a:active {
    font-weight: bold;
    color: #C02407;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    color: #C02407;
    text-decoration: underline;
}
h2 { color: #C02407 }
#imgSubHeader {
    clear: both;
    float: left;
}

/* header
--------------------------------------------------*/
#LoginBox #LoginButtonDiv 	{ padding-top: 5px }
#StoreHeader 				{ background: transparent url(/Assets/23/Images/HeaderBG.jpg) no-repeat top right }
#StoreHeaderRightTop {
    background: url("/Assets/Common/Images/whiteTransparent50.png") repeat scroll 0 0 transparent;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 4px;
    margin-top: 10px;

	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
#StoreHeaderLogo img 		{ display: none }
#StoreHeaderLogo 			{ height: 130px }
#LoginBox.facebook-login 	{ padding: 5px }
#LoginProfileLinkDiv a 		{ display:inline; float:none; margin:0;}

/* navigation
--------------------------------------------------*/
#StoreMenu {
    background-color: #006400;
    color: yellow;
}
#StoreMenu li a:hover { color: #FFFF66 }

/* featured teasers
--------------------------------------------------*/
#FeaturedRecipeTeaser { background: transparent url(/Assets/23/Images/green_gradient.jpg) repeat-x }
#FeaturedArticleTeaser { background: transparent url(/Assets/23/Images/redorange_gradient.jpg) repeat-x }
#AskTheChefTeaser { background: transparent url(/Assets/23/Images/large_olive_gradient.jpg) repeat-x }
#CookingTipsTeaser { background: transparent url(/Assets/23/Images/green_gradient.jpg) repeat-x }
#FeaturedArticleTeaser h3,
#AskTheChefTeaser h3,
#CookingTipsTeaser h3,
#FeaturedRecipeTeaser h3 { color: #FFFFFF }

/* home
--------------------------------------------------*/
#AdPromo { background: transparent url(/Assets/23/Images/large_redorange_gradient.jpg) repeat-x }
#AdPromo p { color: #FFFFFF }

/* meal planner
--------------------------------------------------*/
#MealPlanner { background: transparent url(/Assets/23/Images/orangebrown_gradient.jpg) repeat-x }

/* shopping list
--------------------------------------------------*/
#savedshoppinglists h2 {
    color: #C02407;
    border-bottom: 1px solid #C02407;
}

/* manage list legend
--------------------------------------------------*/
#legend th { background-color: #C02407 }

/* coupons grid
--------------------------------------------------*/
#tblCouponTopN { border: 2px solid #C02407 }
#CouponList h3 { color: #C02407 }

/* generic product
--------------------------------------------------*/
#Department h3,
#Aisles h3,
#Category h3 { color: #C02407 }
#InBetween1,
#InBetween2 { color: #C02407 }
#CategoryHeader h3 { color: #C02407 }
.GridItem {
    clear: both;
    text-align: left;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}
.GridItem th {
    text-align: left;
    background-color: #C02407;
    color: #FFFFCC;
    font-weight: bold;
}
.GridAlternatingItem {
    text-align: left;
    background-color: #CCCCCC;
    color: #000000;
    font-weight: bold;
}
#CircularAdText1_dlCategory h3 { color: #C02407 }

/* recipe page
--------------------------------------------------*/
#RecipeCardTop {
    width: 100%;
    height: 47px;
    padding: 0;
    background: none;
}
#RecipeCardMiddle {
    background: none;
    background-color: #f4F1cf;
}
#RecipeCardBottom { display: none }
#FeaturedRecipeTeaser.recipe,
#MealPlanner.recipe { margin-top: 12px }

/* headings
--------------------------------------------------*/
#ctl00_ContentPlaceHolder1_EmailPreferences1_lblDailyEmails,
#SavedRecipes h2,
#PasswordRecoverControl h1,
#UpdatePanelPage  h1,
#EmailPreferences1_lblDailyEmails,
#EmailPreferences1_lblMonthlyEmails,
#DietaryPreferencesLabel,
#DietaryPreferencesTip h1,
#privacy h2,
#recipecontent h3,
#CtrlDivSubTitle h2,
#FeaturedArticleFull h3,
#ContactUs h2,
#EmploymentApplication h2,
#ContactUsThanks h2,
#AboutUs h3,
#EmploymentPositionsHeader h1,
#StoreLocator h2,
#RecipeSaveToRecipeBox h1,
#ManageList h3,
#QuickSearch ul	a,
#QuickSearch h2,
#ContactUs hr,
#ContactUsThanks hr,
#EmploymentApplication hr,
#EmploymentPositions h1 { color: #C02407 }

/* about us
--------------------------------------------------*/
#StoreSelector { background-color: #70A6A4 }
#address,
#map { float: left }
#address {
    background-color: #C02407;
    color: #FFFFFF;
    padding: 0;
    text-align: center;
}
#addresscontent {
    margin: 80px 30px;
    text-align: left;
    height: 105px;
    width: 270px;
}
#addresscontent	a { color: inherit }
#about h3 {
    color: #C02407;
    border-bottom: solid 1px #000000;
    font-size: 14px;
}
div.aboutContent {
    width: 650px;
    font-size: 14px;
    float: left;
    clear: both;
    margin-bottom: 20px;
}
div.aboutContent ul li { line-height: 2em }
#map {
    border: solid 3px white;
    width: 540px;
    margin-bottom: 10px;
}
#about ul { line-height: 2em }
#mainContentHeader { float: left }

/* pharmacists button
--------------------------------------------------*/
#pharmacists p { width: 100% }
#pharmacists img { margin: 0 auto }
#pharmacists h4 {
    font-size: 1em;
    color: #FFFFFF;
}
#pharmacists {
    float: left;
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    margin: 0 0 0 1%;
    padding: 2px 2px 0;
    clear: none;
    background: none white;
}

/* Registration Page
--------------------------------------------------*/
#signUpPop1,
#signUpPop2,
#signUpPop4 { top: 198px }