.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#sargento-wrap { 
	background-color:#f9e8d3;
	float:left;
	width:590px; 
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.3);-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.3);box-shadow: 3px 3px 4px rgba(0,0,0,.3);
}

#sargento-header	{
	float: left;
	width: 100%;
}
	
#sargento-header .logo { 
	display: block;
	float: left;
	margin:10px;
}

#sargento-header h1 { 
	display: none; 
}

#sargento-header img { 
	display: inline; 
}
	
#sargento-main { 
	float:left;
	width: 100%;
}
	
#sargento-main h2{
	display:none;
}
	
#sargento-main .sargento-product-row {
	background:transparent url(../Images/row_separator.png) no-repeat 50% top;
	margin:1em 0;
}

#sargento-main .sargento-product {
	float:left;
	text-align: center;
}
	
#sargento-main .sargento-product img {
	display: inline;
	max-height:175px;
}

#sargento-main .sargento-product h2 {
	border: none;
	color: #c41a37;
	display:block;
	font-size: 16px;
	margin:10px 0;
	padding:0;
}

#sargento-main .sargento-product p {
	margin:10px 0;
}
	
#sargento-main .two-column .sargento-product {
	float:left;
	margin:0 10px;
}

.sargento-product{
	width: 250px;
}

#sargento-main .two-column {
	float:left;
	margin:20px;
}

#sargento-main .three-column {
	float:left;
	width:100%;
}
	
#sargento-main .sargento-button { 
	background:#c41a37 url(../../../../Images/button_shine_30.png) left 50% repeat-x; 
	border:1px solid #c41a37;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	display: block; 
	font:14px Arial, Helvetica, sans-serif;
	margin:10px auto;
	padding:.2em 0;
	text-decoration: none;
	width:120px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
	
/*------------------------------------------------*/
/* !IE 7 */
/*------------------------------------------------*/
*:first-child + html .group { min-height:1px; }
	
/*------------------------------------------------*/
/* !IE 6 */
/*------------------------------------------------*/
* html #sargento-main .sargento-button {
	background-image:none;
}
	
* html .group {
	height:1%;
}
	
* html #sargento-main .sargento-product-row {
	background-image: none;
}