/*------------------------------------------------*/
/* !gordys
/*------------------------------------------------*/
html { height:100%; background:url(/Assets/210/Images/frntpage.jpg) repeat-x top left; }
body { font-size:0.7em; height:100%; background:transparent; font-weight:normal; font-style:normal; color:black; margin-top:0; margin-left:0 ;padding-left:0; padding-right:0; }
a:link,a:visited,a:active	{ font-weight:bold; color:#EE3E42; text-decoration:none; }
a:hover		{ font-weight:bold; color:#EE3E42; text-decoration:underline; }
h2	{ font-family:Georgia,Times,serif;font-size:16px;border:none;margin:4px 0 0 0; }
th			{ background-color:#888888;color:#FFFFFF; }
/*------------------------------------------------*/
/* !general layout
/*------------------------------------------------*/
#container	{ position:relative!important }
.main-wrapper { background-color:#FFFFFF;border:2px solid #716F6A;float:left;margin:12px 0 0;padding:5px;width:900px; }
#main, #sidebar { margin:0; }
#GsnFooter	{ background:none; }
/*------------------------------------------------*/
/* !banner positioning
/*------------------------------------------------*/
#sidebar div.AdMaster.Tile6	{ position:absolute; top:140px; right:-170px; width:160px; height:600px; margin:0; padding:0; }
.adPodFrame6				{ width:160px; margin:0; }
/*------------------------------------------------*/
/* !home
/*------------------------------------------------*/
#DualContentControlDivA h2,#AdPromo h2,#FeaturedRecipeTeaser h2,#FeaturedRecipeTeaser h2 a,#FeaturedArticleTeaser h2, #FeaturedArticleTeaser h2 a,#AskTheChefTeaser h2, #CookingTipsTeaser h2	{ color:#FFFFFF;font-family:Georgia,Times,serif;text-align:center;font-size:16px;border:none;margin:4px 0 0 0;text-decoration:none; }
#FeaturedArticleTeaser p, #FeaturedRecipeTeaser p, #CookingTipsTeaser p, #AskTheChefTeaser p,#FeaturedArticleTeaser a, #FeaturedRecipeTeaser a, #CookingTipsTeaser a, #AskTheChefTeaser a,#FeaturedRecipeTeaser h3, #FeaturedArticleTeaser h3, #AskTheChefTeaser h3, #CookingTipsTeaser h3	{ color:#FFFFFF; }
#EmailListPage { background-color:#FFFFFF;border:2px solid #716F6A;float:left;margin:12px 0 0;padding:5px;width:900px; }
#signUpPhoto  { width:240px; }
#AdPromo img { margin: 0 0 0 7px; display:inline; }
#AdPromo			{ height:135px;width:214px;background-color: inherit; background: none; }
#AdPromo p			{ color:#FFFFFF;font-size:11px;margin:0 0 5px 0; }
#GivesBack			{ height:135px;width:204px; float:right; margin-top:18px; padding-top:4px; text-align:center; }
/*#GivesBack img {margin: 27px auto 0;}*/
#SplashContainer,#splashblocks	{ margin-top:12px;color:#FFFFFF; }
#slideshow	{ border:black solid 2px; float:left; }
#splashblocks #FeaturedRecipeTeaser { width:207px;height:231px;padding:1px;margin-left:4px; }
#splashblocks #FeaturedRecipeTeaser img	{ margin:0;max-height:none; }
#circularThumbnail img { margin:4px auto 0; }
/*------------------------------------------------*/
/* !header
/*------------------------------------------------*/
#StoreHeader			{ height:133px; background: transparent url(/Assets/210/Images/HeaderBG.jpg) no-repeat top left; background-position: 188px 0;}
#StoreHeaderRightTop 	{ border:none; height:86px; min-width:0; }
#StoreHeaderLogo		{ width: 188px;}
#container				{ background:none; }
#LoginBox				{ background:transparent url("/Assets/210/Images/loginbox.png") no-repeat left bottom; float:right; height:83px; width:209px; }
#LoginBox .inner-wrap 	{ background:#fff url("/Assets/210/Images/loginbox.png") no-repeat left top; padding:10px 0 10px 10px;; width:200px; }
#LoginBox.facebook-login { margin-left:10px; padding:0; }
#LoginProfileLinkDiv a	{ display:block; float:left; margin:5px; text-decoration:underline; }
#LoginProfileLinkDiv #preferences-link { margin-left:0; }
#SocialBox				{ background: transparent url("/Assets/210/Images/socialbox.png") no-repeat left bottom; float:right; font-family:Georgia,Times,serif; height:83px; margin:4px 0 0 0; padding:0; text-align:center; width:85px; }
#SocialBox .inner-wrap  { background: transparent url("/Assets/210/Images/socialbox.png") no-repeat left top; padding:2px 0 1px 0; width:85px; }
#SocialBox a 			{ float:left; height:24px; margin-top:0px; margin-bottom:3px; width:24px; }
#SocialBox span	{ display:block; }
#SocialBox a.Facebook 				{ margin-right:8px; margin-left:15px; margin-top: 0; }
#SocialBox a.Printerest 				{ margin-right:8px; margin-left:15px; margin-top: 0; }
#CtrlDivMyEmail, #CtrlDivMyPassword { font-family:Georgia,Times,serif; }
#storeZipEntryForm a, #EmailForm a, #SignInControl a, #PasswordRecoverControl a, #SavedShoppingListsDisplay a { margin-right:5px; }
#EmailShoppingList textarea { width:450px; }
#gridLayout a.button span	{ float:none; }
/*------------------------------------------------*/
/* !primary navigation
/*------------------------------------------------*/
#nav-wrap	{ clear:both; margin-top:8px;margin-left: -70px; }
#nav			{ background-color:transparent;padding:0; }
#nav ul	{ width:1080px; }
#nav li		{ float:left;width: 120px;height:24px;padding:0; }
#nav li:hover	{ color:#FFFFFF;background:transparent url(/Assets/210/Images/nav_act.jpg); }
#nav li a	{ color:#000000;text-align:center;padding-top:4px;display:block;font-family:Georgia,Times,serif;height:20px;margin:0; font-size: 120%; }
#nav li a:hover		{ color:#FFFFFF;text-decoration:none;display:block;font-family:Georgia,Times,serif;background:transparent url(/Assets/210/Images/nav_act.jpg); }
#nav li:hover a:link		{ color:#FFFFFF; }
#nav li ul		{ border:2px solid #716F6A;width: 16em; }
#nav li ul li a	{ margin:0;text-align:left;padding-left:10px; }
#nav ul li:hover ul li a:link		{ color:#000000; }
#nav ul li:hover ul li a:hover		{ color:#FFFFFF; }
/*------------------------------------------------*/
/* !tabs
/*------------------------------------------------*/
.pageSubHeader	{ font-family:Georgia,Times,serif;font-size:10px;font-weight:bold;color:#000000; }
#secondary-navigation		{ border-bottom:1px solid; }
#secondary-navigation li	{ background:none;margin:0 2px;padding:0;border-bottom:none; }
#secondary-navigation li span a	{ background:url("/Assets/210/Images/subnav_butt.jpg") repeat scroll left top transparent;font-family:Georgia,Times,serif;color:#000000;padding:5px 7px 4px; }
#secondary-navigation li span a:hover	{ background:url("/Assets/210/Images/subnav_butt_roll.jpg") repeat scroll left top transparent;font-family:Georgia,Times,serif;color:#FFFFFF;padding:5px 7px 4px; }
#secondary-navigation #current	{ background:url("/Assets/210/Images/subnav_butt_act.jpg") repeat scroll left top transparent;margin:0 2px;padding:0; }
#secondary-navigation #current a	{ background:none;font-family:Georgia,Times,serif;color:#FFFFFF;padding:5px 7px 4px; }
/*------------------------------------------------*/
/* !featured teasers
/*------------------------------------------------*/
#splashBox1,#splashBox2,#splashBox3		{ float:left;width:217px;height:231px;margin:13px 17px 16px 0;color:#FFFFFF; }
#splashBox4		{ float:left;width:207px;height:230px;margin:13px 0 0 1px;color:#FFFFFF; }
#dualContent1	{ float:left;height:104px;margin-bottom:8px;width:205px; }
#dualContent2	{ float:left;height:106px;width:205px; }
#FeaturedRecipeTeaser,#FeaturedArticleTeaser,#AskTheChefTeaser,#CookingTipsTeaser	{ width:207px;height:231px;clear:none;background:url("/Assets/210/Images/divbkg_red.jpg") repeat scroll center top; }
#FeaturedArticleTeaser.recipe, #AskTheChefTeaser.recipe, #CookingTipsTeaser.recipe { width:164px; }
#DualContentControlDivD	{ width:207px;height:107px; }
#DualContentControlDivC	{ width:207px;height:116px; }
#DualContentControlDivB	{ width:195px;height:170px;background-color:#FFFFFF; }
#DualContentControlDivA p,#FeaturedRecipeTeaser p,#FeaturedRecipeTeaser p a { color:#FFFFFF;text-align:center;font-size:11px;margin:0 0 5px 0;width:100%; }
#FeaturedRecipeTeaser { background:none; }
#FeaturedRecipeTeaser img	{ margin:4px auto 4px; }
#FeaturedRecipeTeaser #UserRecipeRating { width:100%; border:0; margin:0; }
#FeaturedRecipeTeaser .rating_container a { background-image:url(/Assets/Common/Images/reciperating.gif);border:0 none;display:block;float:left;height:25px;width:15px; }
#circularThumbnail	{ margin:0; }
/*------------------------------------------------*/
/* !meal planner
/*------------------------------------------------*/
#MealPlanner			{ background-image:none;background-color:#EE3E42; }
#MealPlanner a			{ color:#FFFFFF; }
/*------------------------------------------------*/
/* !weekly ad
/*------------------------------------------------*/
#CircularLists span a:hover, h2, h3 { color:#00539E; }
/*------------------------------------------------*/
/* !coupons
/*------------------------------------------------*/
#CouponsPage .pageHeaderContainer { background:transparent url(/Assets/Common/images/new_coupons_header.jpg) no-repeat scroll 0 0; height:100px; width:590px; }
#tblCouponTopN			{ border:2px solid #77486B; }
#CouponList h3			{ color:#77486B; }
/*------------------------------------------------*/
/* !3-panel toolbox
/*------------------------------------------------*/
#Department h3, #Aisles h3, #Category h3	{ color:#77486B; }
#InBetween1, #InBetween2			{ color:#77486B; }
/*------------------------------------------------*/
/* !grid styles
/*------------------------------------------------*/
.CategoryHeader	{ margin:6px 0 2px 0; }
#CategoryHeader h3		{ color:#77486B; }
.CategoryHeader h3	{ margin:0; }
.GridItem			{ clear:both; text-align:left; background-color: #FFFFFF; color: #000000; font-weight: bold; }
.GridItem th			{ text-align:left; background-color: #888888; color: #FFFFFF; font-weight: bold; }
.GridAlternatingItem		{ text-align:left; background-color: #CCCCCC; color: #000000; font-weight: bold; }
#CircularAdText1_dlCategory h3	{ color:#77486B; }
#CouponList table table th		{ background-color:#77486B; }
#gridLayout { width:445px; }
.GridMode1 .couponsFrame a { width:auto;right:10px; }
.GridMode2 .couponsFrame a { width:90px;right:10px; }
.GridMode3 .couponsFrame a { width:90px;right:10px; }
.GridMode3 .couponsContainer { width:143px; }
/*------------------------------------------------*/
/* !recipe
/*------------------------------------------------*/
#RecipeCardTop					{ width:100%; height:auto; padding:0; background:none; }
#RecipeCardBottom				{ display:none; }
#FeaturedRecipeTeaser.recipe	{ margin-top:12px;background:url("/Assets/210/Images/divbkg_red.jpg") repeat scroll center top; }
#MealPlanner.recipe				{ margin-top:12px;background:url("/Assets/210/Images/divbkg_blue.jpg") repeat scroll center top; }
#RecipeCardMiddle #FeaturedRecipeTeaser	{ height:auto; }
#RecipeVideosPage h1			{ width:564px;border:none;font-family:georgia,times,serif;color:#FF0000 }
#VideoNavigation 				{ width:235px; }
#MealPlanner h3 				{ color:#FFFFFF;border-bottom:2px solid gray;font-size:120%; }
#winecontent					{ margin:0 10px -300px 0; }
#NutritionTable  				{ width:545px; }
.NutritionLineItem  			{ width:270px; }
.NutritionLineElement  			{ width:125px; }
.NutritionLineElementRight  	{ width:130px; }
#RecipeCenter #FeaturedArticleTeaser.recipe { height:auto;margin:12px 3px 0;min-height:240px;width:175px; }
/*------------------------------------------------*/
/* !headings
/*------------------------------------------------*/
#ctl00_ContentPlaceHolder1_EmailPreferences1_lblDailyEmails,
#SavedRecipes h2,
#PasswordRecoverControl h1,		
#UpdatePanelPage  h1,	
#EmailPreferences1_lblDailyEmails,
#EmailPreferences1_lblMonthlyEmails,
#DietaryPreferencesLabel,		
#DietaryPreferencesTip h1,
#privacy h2 ,
#CtrlDivSubTitle h2,		
#FeaturedArticleFull h3,		
#EmploymentApplication h2,			
#ContactUsThanks h2,					
#AboutUs h3,	
#EmploymentPositionsHeader h1,
#RecipeSaveToRecipeBox h1,
#ContactUs hr, #ContactUsThanks hr,						
#EmploymentApplication hr,
#FeaturedRecipeTeaser.recipe h2 a,
#MealPlanner.recipe h2 a				{ color:#FFFFFF; }	
/*------------------------------------------------*/
/* !shopping list
/*------------------------------------------------*/
#ShoppingList	{ background-color:transparent; }
#ShoppingListHeaderSmall	{ height:97px; background:url('/assets/210/images/shoppinglist_top.png') no-repeat; }
#ShoppingListMain	{ background-color:#FFEAAF;margin-left:1px;padding-left:14px; }
#availablevarietiestop	{ background:#103F0C url(/Assets/Common/Images/avail_varieties_300_r1_c1.png) no-repeat scroll 0 0; }
#ManageList h3	{ color:#EE3E42;margin-top:6px; }
/*------------------------------------------------*/
/* !shopping list buttons
/*------------------------------------------------*/
#FiveListButtons			{ height:84px;background-color:transparent;background-image:url('/assets/210/images/shoppinglist_bot.png'); }
#FiveListButtons a 		{ display:inline;border:0 none;float:left;margin:10px 0 0 10px;padding:0px; }
#FiveListButtons a.shoplistPrint		{ height:35px;margin-left:28px; background:url('/assets/210/images/shoplist_buttons.png') -42px -5px no-repeat; }
#FiveListButtons a.shoplistEmail		{ height:35px;margin-left:10px; background:url('/assets/210/images/shoplist_buttons.png') -82px -5px no-repeat; }
#FiveListButtons a.shoplistLast			{ height:35px;margin-left:10px; background:url('/assets/210/images/shoplist_buttons.png') -122px -5px no-repeat; }
#FiveListButtons a.shoplistSave			{ height:35px;margin-left:10px;background:url('/assets/210/images/shoplist_buttons.png') -162px -5px no-repeat; }
#FiveListButtons a.shoplistManage		{ height:35px;margin-left:10px;background:url('/assets/210/images/shoplist_buttons.png') -202px -5px no-repeat; }
#FiveListButtons a.shoplistPrint:hover	 	{ background-position:-42px -50px }
#FiveListButtons a.shoplistEmail:hover 	{ background-position:-82px -50px }
#FiveListButtons a.shoplistLast:hover 	{ background-position:-122px -50px }
#FiveListButtons a.shoplistSave:hover 	{ background-position:-162px -50px }
#FiveListButtons a.shoplistManage:hover 	{ background-position:-202px -50px }
#FiveListButtons a.shoplistPrint span,
#FiveListButtons a.shoplistEmail span,
#FiveListButtons a.shoplistLast span,
#FiveListButtons a.shoplistSave span,
#FiveListButtons a.shoplistManage span	{ margin-top:35px; text-transform:uppercase; font-size:8px; }
/*------------------------------------------------*/
/* !product grid
/*------------------------------------------------*/
table.GridItem	{ width:580px; }
#legend	{ background-color:#FFFFFF; }
/*------------------------------------------------*/
/* !store locator
/*------------------------------------------------*/
#storeZipEntryForm h2 { margin-bottom:12px; }
#GoogleMapCanvas	  { margin-right: 8px;}	
/*------------------------------------------------*/
/* !static content
/*------------------------------------------------*/
.staticContentEntry { width:890px; }
.staticContentEntry p { margin:0; }
#StaticContentPage { background-color:#FFFFFF;border:2px solid #716F6A;margin:12px auto 0;padding:10px;width:890px; }
#StaticContentPage a.button { background:white;margin:0;padding:0 1px;width:139px; }
#StaticContentPage a.button span { background:transparent url(/Assets/210/Images/nav_act.jpg);height:15px;padding:3px 0;width:100%; }
#StaticContentPage a.button span:hover { background:white;color:red; }
#StaticContentPage #mainContentHeader { background:transparent url(/Assets/210/Images/nav_act.jpg);height:21px;margin:-10px -10px 0;padding:0 10px;width:890px; }
#LeftNav { margin-left:20px; margin-top:10px; width:100px; }
#LeftNav a { background:transparent url(/Assets/98/Images/submit_button_large.gif) no-repeat scroll 0 0; color:#ffffff; cursor:pointer;	display:block; height:21px;	margin-bottom:2px; padding-top:2px;	text-align:center; text-decoration:none; width:100px; font-size:12px; }
#LeftNav a:hover { background-position:-200px 0;text-decoration:none; }
div#mainContentLeftNav { float:left; margin-left:20px; margin-top:10px; }
/*------------------------------------------------*/
/* !contact us
/*------------------------------------------------*/
#ContactUs #main	{ padding:15px;width:500px; }
#ContactUs { background-color:#FFFFFF;border:2px solid #716F6A;float:left;margin:12px 0 0;padding:5px;width:600px; }
#ContactUs h2	{ color:#EE3E42;border:none; }
/*------------------------------------------------*/
/* fuel rewards
/*------------------------------------------------*/ 
#wrapper{ width:820px;margin:0px auto 0; padding: 40px; padding-top:5px; font-size: medium;}
.FuelRewardsWrapper{ padding: 40px !important;}
#wrapper #wrongCardNumber a{ display:block;	font-size:1.2em;padding-top:20px;color:#FFF;text-decoration:none;text-align:center;}
.dataWrapper{ height: auto;min-height: 50px;margin-bottom: 20px;}
#tabContainer { width:816px;padding:2px;background-color:#ccc;}
#tabContainerInput{width:816px;padding:2px;}
#tabContainerInput h3 {font-size:37px;color:rgb(0,174,239);}
#tabContainerInput .inputs {overflow: hidden;font-size:17px;font-family:sans-serif;}
#tabContainerInput .descItemNum{margin-right: 5px; float: left;background-color: rgb(0,174,239); color: white;font-size: 30px;font-weight: bold; font-family: sans-serif;border-radius: 20px;width: 40px; height: 40px;text-align: center;}
#tabContainerInput .descItem{float:left;padding-bottom: 25px;font-size:17px; font-family: sans-serif;}
#tabContainerInput .descItem span{display:inline-block; vertical-align: top;line-height: 17px;}
#tabContainerInput .descItem .firstDescItem{display:inline-block; vertical-align: top;line-height: 40px;}
#tabContainer #tabsTitle{ background-color: #FFF; color: #00539E; font-weight: bold; padding: 10px 10px 10px 30px;}
#tabContainerInput .InputRule{margin-bottom: 30px;display: inline-block;}
#tabContainerInput .InputRule .inputsRuleText{width: 65%;display: inline-block;}
#tabContainerInput .InputRule .inputsRuleText strong{color:rgb(0,174,239)}
#tabContainerInput .descriptionImage{float:right;display: inline-block;}
#tabContainerInput .InputRule .descriptionImage{ float:none;padding-left:30px;display: inline-block;}
#tabContainerInput .inputs #cardNumber{border:1px solid black; line-height:20px; font-size:20px;}
#tabContainerInput .inputs #btnSubmitCardNumber{margin-left:5px;font-weight:bold;font-size:17px;background-color:rgb(188,189,192);border:1px solid black;border-radius: 15px;height: 24px;width: 90px;}
#tabContainerInput .footerLinks{background-color:rgb(209,210,212); margin-top:50px;padding:20px 0px;}
#tabContainerInput .footerLinks span {color:red; border-right:2px solid white;padding:0px 10px;}
#tabContainerInput .footerLinks span:last-child {border-right:none;}
#tabContainerInput .footerLinks span a{font-weight:normal !important;}



#tabs{height:40px;overflow:hidden;border-top: 1px solid #ccc;}
#tabs > ul{font-size: 20px;list-style:none;margin-left: -40px;margin-top: 0px;}
#tabs > ul > li{width: 271px;min-height: 25px;margin:0 1px 0 0;padding:7px 0px;display:block;float:left;color:#777;text-align: center;-webkit-user-select: none;-moz-user-select: none; user-select: none;background: #F3F3F3;border-bottom: 1px solid #ccc;}
#tabs > ul > li:hover,
#tabs > ul > li.tabActiveHeader{background: #FFFFFF;cursor:pointer;color: #00539E;border-bottom: 1px solid #FFF;}

#submitCard {font-family: Georgia,Times,serif;}
#submitCard,
#tabContainer #tabscontent { width:796px;padding:10px 10px 25px;background: #FFFFFF;margin:0;color:#333;min-height:125px;}
#submitCard p{   margin-bottom:10px;}
#submitCard .description{
    overflow: hidden;
}
#submitCard .descriptionText{
    float: left; width: 63%; display: inline-block;
}
#submitCard .descriptionText h2{ color:#00539E;}
#submitCard .inputsCardText{ float: left; margin-top: 5px;}
#submitCard #wrongCardNumber a{ font-size: 15px; font-weight: 100;}
#submitCard #wrongCardNumber a:hover{ text-decoration:underline;}


#tabpage_1 .balance{border:1px solid #ccc; min-height:30px;margin-bottom:15px;}
#tabpage_1 .date{border:1px solid #ccc; min-height:30px;}
#tabpage_2 .date{border:1px solid #ccc; min-height:30px;}
#tabpage_3 .date{border:1px solid #ccc; min-height:30px;}

#tabscontent  .tabpage .balance,
#tabscontent  .tabpage .date{overflow:hidden;}
#tabscontent  .tabpage .balance .text{ width:50%;  float:left; padding-top:20px;padding-left:20px;background-color:#1d66aa;color:#fff;min-height:50px;font-size: 1.2em; padding-bottom: 10px;}
#tabscontent  .tabpage .balance .text p {margin: 0;}
#tabscontent  .tabpage .balance .amount{float:right;widht:50%;}
#tabscontent  .tabpage .balance .amount.off{ padding-right:10px; padding-top:18px; font-size:0.8em;}
#tabscontent  .tabpage .balance .amount.number{ font-size:3.3em;font-weight:bold;color:#777;padding-right:4px;padding-top:12px;}

.tabpage > p{ margin-top:30px;}

#tabscontent  .tabpage .date .left{width:40%; float:left;}
#tabscontent  .tabpage .date .right{float:right; min-height: 30px; margin: 0px;}

#tabscontent  #tabpage_1 .date .left{ padding:10px;}
#tabscontent  #tabpage_1 .date .right{background-color:#3f7db6;width:50%; padding-top:10px;padding-right:10px;padding-left:10px;color:#fff;}
#current4{padding-right: 20px;}
#tabscontent  #tabpage_2 .date .left{ padding-top:10px; padding-left:10px;}
#tabscontent  #tabpage_2 .date .right {background-color:#3f7db6;width:50%; color:#fff;padding-top:10px; padding-right:10px;}
#expired1_2{padding-right: 20px;}
#tabscontent  #tabpage_3 .date .left{padding-left:10px;padding-top:10px;}
#tabscontent  #tabpage_3 .date .right{margin:7px; min-height: 20px;background-color:#ccc; min-width: 45px; padding:3px;}

/*------------------------------------------------*/
/* !ie7
/*------------------------------------------------*/
#StoreHeaderRight { *width:400px; }
#StoreHeaderRightTop { *width:100%; }
/*------------------------------------------------*/
/* !ie6
/*------------------------------------------------*/
* html #GoogleMapCanvas { margin:12px 6px 0 0; }
* html #SocialBox a.Facebook { margin-left:7px; }
* html #LoginBox .inner-wrap { float:left; height:83px; overflow:hidden; }
* html #LoginBox a.non-member { display:block; position:absolute; }

#banner-advertisement { top: 151px;}