/*
   style.css
   Crisco Landing Page
   
   Created by David Nussbaum on 2009-9-22.
   Copyright 2009 Grocery Shopping Network All rights reserved.
   
   Edited by Andy Park on 2009-10-26.
*/

div#PromoContainer div { float:left; }
div.CategoryDiv { border-bottom:1px solid #666; clear:both; margin:2em 0; padding-bottom:1em;}
div.CategoryImage { width:35%; }
div.CategoryDetails { width:65%; }
div.ProductRow { clear:both; margin:0.5em 0;}
span.ProductName { display:block; float:left; }
				
				

div.PromoHeader p { float:left; font-size:12px; line-height:20px; margin-left:1em; width:196px; margin-top:0;  }
div.PromoHeader img.FamilyShot { float:right; }

img.PromoHeaderGraphic { margin:1em 0 1em 1em; }

div.CategoryDetails span { font-weight:bold; }

div.CategoryDetails span.ProductName { 
	color:gray;
	display:block;
	float:left;
	font-size:12px;
	margin-top:1px;
	text-transform:uppercase;
 }
 
 div.CategoryDiv { width:580px; }
 div.CategoryImage { width:25%; }
 
 div#PromoContainer a.button, div#PromoContainer a.button:hover { 
	background-image:url(/Assets/Common/Promotions/Crisco/Images/crisco_button_right.gif);
}
/* \Assets\Common\Promotions\Crisco\Images */
div#PromoContainer a.button:hover { 
	background-position:right -18px;
}

div#PromoContainer a.button span, div#PromoContainer a.button span:hover { 
	background-image:url(/Assets/Common/Promotions/Crisco/Images/crisco_button_left.gif);
		
}

div#PromoContainer a.button span:hover { 
	background-position:0 -18px;
	color:green;
}

/* IE6 hacks */

div.CategoryImage { _width:240px; }
div.CategoryDetails { _width:340px; }