/*** CV's family foods ***/
html							{background-image:none;}

/*** Nav Styles ***/
#nav-wrap						{background:transparent url(/Assets/151/Images/navBg.gif) repeat-x top left;}
#nav-wrap a						{text-decoration:none;color:#FFFFFF;margin-left:12px;}
#nav li							{border-right:1px solid #FFFFFF;}
#nav li:hover					{background-color:#990000;}
#nav li li 						{border-bottom:solid 1px #000000;border-right:none;background-color:#EB1E25;}
#nav li ul						{border-left:1px solid #000000;border-right:1px solid #000000;border-top:1px solid #000000;}
#nav							{width:100%;}
#nav ul							{margin-left:2em;}


/*** Tabs ***/
#header							{font-size:95%;}
#secondary-navigation a 						{padding: 5px 9px 4px 1px;}

/*** Header ***/
#StoreHeaderRightTop			{border:none; background:transparent url(/Assets/Common/Images/whiteTransparent80.png) repeat top left; padding-left:5px;}
#StoreHeader					{background:transparent url(/Assets/151/Images/HeaderBG.jpg) no-repeat top right;}
#StoreInfoDiv					{background-color:#FFFFFF;color:#000000;}
#LoginProfileLinkDiv a 			{display:inline;float:none;}

/*** Home Page ***/
#AdPromo						{background-image:none;height:296px;margin:0;display:inline;width:22%;padding-top: 0;}
#AdPromo h2						{color:#FF0000;}
#AdPromo img						{margin:0;}

#SplashImage					{display:inline;margin:0;}
#flashSlideShow					{width:682px;border:1px solid #FF0000;}

#FeaturedRecipeTeaser,
#MealPlanner,
#FeaturedArticleTeaser,
#AskTheChefTeaser,
#CookingTipsTeaser				{background:#EEEEEE none no-repeat top left;border:1px solid #FF0000;}

#FeaturedRecipeTeaser.home,
#FeaturedArticleTeaser.home,
#MealPlanner.home				{margin:0 0 0 2%;min-height:250px;padding:4px;}

#FeaturedArticleTeaser.home		{float:right;min-height:185px;width:21%;}

#FeaturedRecipeTeaser.home		{margin-left:0;}

#FeaturedArticleTeaser.recipe, 
#AskTheChefTeaser.recipe, 
#CookingTipsTeaser.recipe		{border:1px solid #FF0000;}

#FeaturedRecipeTeaser.recipe,
#MealPlanner.recipe					{border:none;}

#FeaturedRecipeTeaser h2 a,
#FeaturedArticleTeaser h2 a, 
#AskTheChefTeaser h2 a, 
#CookingTipsTeaser h2 a			{color:#FF0000;}

#FeaturedArticleTeaser p, 
#FeaturedRecipeTeaser p,
#CookingTipsTeaser p,
#AskTheChefTeaser p,
#FeaturedArticleTeaser a,
#FeaturedRecipeTeaser a, 
#CookingTipsTeaser a, 
#AskTheChefTeaser a				{color:#000000;}

#MealPlanner h2 a				{color:#FF0000;}

#DualContentControlDiv,
#DualContentControlDiv2		 	{float:left;margin-left:2%;width:23%;}
	
#KidsZoneLink					{height: 250px; background:transparent url(/Assets/151/Images/kids_button.jpg) no-repeat top left;text-indent:-9999px;background-size: 418px 250px;}
#KidsZoneLink:hover				{background-position-x: -209px; background-position-y: 0;}
#FactsLink:hover				{background-position:-209px;}

#FactsLink						{height:151px; background:transparent url(/Assets/151/Images/facts_button.gif) no-repeat top left;text-indent:-9999px;}

#fbBadge						{float:right;margin:0 30px 20px 0;}

#circularThumbnail { margin: 0;}

/*** Grid Styles ***/
.GridAlternatingItem			{background-color:#EEEEEE;}
.GridItem th					{background-color:#EB1E25;}

/*** Department Pages ***/
.departmentText					{float:right;width:340px;padding:0 3em 0 0;}
.departmentText ul li			{font-size:14px;margin-bottom:1em;}
.departmentImage				{float:left;width:385px;margin-left:1em;}
.departmentPage					{width:100%;min-height:800px;}

.departmentPage h1,
.mainContent h1					{font-size:2em;font-style:italic;line-height:1.5em;color:#FF0000;}

#mainContent					{float:left;}

.departmentPage p				{font-size:1.5em;}

/*** Headings ***/
#Deli.departmentPage h1			{color:#FF6600;}
#Bakery.departmentPage h1		{color:#0033CC;}
#Meat.departmentPage h1			{color:#FF0000;}
#Produce.departmentPage h1			{color:#006600;}

/*** Coupons Page ***/
.gridSwapLayout #help { height:19px; background:url(/Assets/Common/Images/coupons_help_icon.gif) left 2px no-repeat; padding-top:0; margin-top: -2px; margin-right:20px; font-size:150%; text-decoration: underline;}

/*** Community Page ***/	
#CommunityBody					{background-color:#429A2A;float:left;display:inline;width:100%;}

#CommunityHeader				{clear:both; height:100px; background:transparent url(/Assets/151/Images/communityHeaderBg.gif) no-repeat top left;}
#CommunityFooter				{float:left; width:100%; display:inline; height:60px; background:transparent url(/Assets/151/Images/communityFooterBg.gif) no-repeat top left;}

#CommunityBody h2,
#CommunityHeader h1				{text-indent:-9999px;border:none;}

#CommunityBody h2				{width:250px;height:56px;background:transparent url(/Assets/151/Images/easy-as_header.jpg) no-repeat top left;}	

#CommunityBody div.leftColumn	{float:left;width:40%;padding-left:2em;}
#CommunityBody div.rightColumn	{float:right;width:36%;}
.steps p						{color:#000000;font-size:1.5em;}
.steps h3						{width:400px; height:50px; text-indent:-9999px;}
h3#step1						{background:transparent url(/Assets/151/Images/step1_header.gif) no-repeat top left;}
h3#step2						{background:transparent url(/Assets/151/Images/step2_header.gif) no-repeat top left;}
h3#step3						{background:transparent url(/Assets/151/Images/step3_header.gif) no-repeat top left;}
#step1 > div:nth-child(6)		{display:none;}

/*** Rewards Page ***/
div.leftNav						{float:left; width:20%;}
div.mainContent					{float:left; width:62%; margin-left:50px;font-size:14px;}
ul.navMenu						{list-style-type:none;margin:2em 0 0 -.5em;}
ul.navMenu li a					{margin-bottom:1em; display:block;text-indent:-9999px;width:161px;height:68px;background-position:top left;background:transparent none no-repeat top left;}
ul.navMenu li a:hover			{background-position:-161px 0;}
#LinkDiv						{font-size:14px;margin:2em 0;}
#LinkDiv a						{text-decoration:underline;}

#Intro							{display:none;}
#Register						{background-image: url(/Assets/151/Images/button_register.gif);}
#Login							{background-image: url(/Assets/151/Images/button_login.gif);}
#Shop							{background-image: url(/Assets/151/Images/button_shop.gif);}
#Info							{background-image: url(/Assets/151/Images/button_info.gif);}
#Find							{background-image: url(/Assets/151/Images/button_find.gif);}
#ViewWeekly						{background-image: url(/Assets/151/Images/button_view.gif);}
#Survey							{background-image: url(/Assets/151/Images/button_survey.gif);}

span.ThankYou					{display:block; font-size:15px; font-weight:bold; color:#FF0000;margin-top:2em;}
table.storeInfo					{border-collapse:collapse;border:1px solid #666666;}
table.storeInfo td				{border:1px solid #666666;padding:1em;}
tr#ColumnLabels					{background-color:#EB1E25;color:#FFFFFF;}
tr#ColumnLabels td				{border:1px solid #990000;}

/*** Fun Facts Page ***/		
#FunFacts h1					{text-indent:-9999px;}
#FunFacts .departmentText		{width:440px;}
#FactsList						{font-size:16px;}
#FactsList li					{margin:2em 0;}
#FunFactsImg					{background-image:url(../Images/facts.gif);width:400px;height:340px;float:left;}

/*** Deli page ***/
#Kretschmar						{margin:2em 0;}
#Kretschmar p					{font-size:14px;line-height:1.5em;}
div.departmentImage #deliImage img	{width:auto;}

/*** Catering page ***/
#Catering img					{text-align:center; margin:0 auto;}
#staticimg						{margin-top: 10px; font-size:110%; width:180px; height:auto; text-align:left;}
#Image  						{margin-top: 10px;}
#leftNav						{padding-top:3em;width:55%}
#Catering						{clear:both; float:left;}
#leftNav a.leftnavbutton		{background:transparent url(/Assets/151/Images/deli_button.jpg) repeat-x scroll left top; display:block; float:left; height:21px; margin-right:5px; color:#FFFFFF; padding-top:2px;text-align:center;text-decoration:none;width:245px;cursor:pointer; font-weight:normal; font-size:16px;}
#leftNav a.leftnavbutton:hover	{color:#FFFF00;}		
#partyTrayMain					{width:380px;float:right;}
.partyTray						{width:100%;text-align:center;}

/*** Static Content Page ***/
#StaticContentPage {clear:none;float:left;margin:12px 0 0 12px;padding-bottom:20px;text-align:left;width:855px;}
#StaticContentPage h2 {padding:6px 0 0 0;width:500px; border-bottom:none; color:#999;}

/*** Registration Page ***/
#signUpPop1, #signUpPop2, #signUpPop4 {top:240px;}

/*** Shopping List ***/
#ShoppingListHeaderSmall { background:transparent url(/Assets/151/Images/gray_smallshoplist.jpg) no-repeat top left; height:47px; width:300px; }
#ShoppingListHeaderLarge { background:transparent url(/Assets/151/Images/gray_largeshoplist.jpg) no-repeat top left; height:61px; }