/*** chain-specific overrides for Giant OGS ***/
.main-wrapper { width: 960px;}
.HomeGrid{margin-left:20px;}
td.ItemPrice span.RegPrice{display:block;}
br.SavingsAmount{display:none;}
span.SavingsAmount{font-size:10px;}
#main{background:transparent;margin-left:20px;}
#sidebar,#recipesidebar{margin-right:20px;}
.adPodFrame5 { margin: 10px 100px;}
/* #help{float:left;clear:both;margin:15px auto;}
*/
h1,h2,h3{color:#E22232;}
body{font-size:0.7em;height:100%;font-weight:normal;font-style:normal;font-family:Verdana,Arial,Helvetica,sans-serif;color:black;margin-top:0;margin-left:0 ;padding-left:0;padding-right:0;}
html{height:100%;background:none;}
a:link,
a:visited,
a:active{font-weight:bold;color:#E22232;text-decoration:none;}
a:hover{font-weight:bold;color:#E22232;text-decoration:underline;}
#container{background:none;width:1160px;padding:0;}
/* removed. unecesarry style. if it works on a specific page target that page rather than all input elements */
/* input:hover{background-color:#EEEEEE;color:#000;cursor:pointer;} */
#AdMaster1{margin-top:15px;}
#imgSubHeader{clear:both;float:left;}
#imgMyFavorites{float:left;clear:both;}
#secondary-navigation{float:left;width:100%;font-size:85%;line-height:normal;margin-bottom:12px;background-image:url(/Assets/123/Images/giant_green_line.jpg);}
#steps123 {float:left; font-weight:bold; list-style-type:none;padding-left:0; margin-left:0;}
#steps123 li {float:left; color:#f00; font-size:12px; margin-right:1em; }
#steps123 li span { color:#fff; background:transparent url(/Assets/124/Images/list-number-bg.gif) no-repeat top left; display:block; float:left; height:23px; margin-right:0.5em; padding-top:3px; position:relative; top:-3px; text-align:center; width:23px; }
div#main.storelocator{width:945px;}
.GridMode2 .couponsSavings{background:#209B5A none}
#PersonalizedSpecialsPage .couponsFrame a{margin:3px 27px;}
.couponAvailable{width:40px;height:40px;}
.couponAvailableIcon{display:none;}
.couponAvailableText{float:left;background:transparent url(/Assets/123/Images/CouponImage.gif) no-repeat top left;padding:12px 0 12px 40px;display:none;}
#availcouponimage{background:transparent url(/Assets/123/Images/CouponImage.gif) no-repeat 5px 5px;}
#AdContent img{border:1px solid black;margin:0 auto;padding:20px;}
#AdContent .GridAlternatingItem img,
#AdContent .GridItem img{border:0;padding:0;}
#AdContent .GridItem .AddButton img,
#AdContent .GridAlternatingItem .AddButton img{float:left;text-align:left;margin:0 4px 0 0;border:0;padding:0;}
#AdContent .GridItem .AddButton a img,
#AdContent .GridAlternatingItem .AddButton a img{float:left;text-align:left;margin:4px 4px 0 0;border:0;padding:0;}
#Legend{margin-top:12px;padding-top:12px;border-top:1px solid black;}
#Legend img{float:left;text-align:left;margin:0 12px 0 0;border:0;padding:0;}
#Legend span{float:left;text-align:left;margin-right:12px;}
#LinkButtonBackToWeeklyAd{background:none;padding-left:0;}

#buttonsubmit a, .buttonsubmit a, #ListButtons a, #LoginButtonDiv a, #ButtonDelete a, #ButtonUpdate a, #ButtonViewHide a { background-image:none; }

/*** available varieties ***/
#availablevarieties:after{content:"";display:block;height:0;clear:both;}
#availablevarietiestop{background:#209B5A url("../../Common/Images/avail_varieties_300_r1_c1.png") 0 0 no-repeat;}
#availablevarietiestop h2{color:#FFFFFF;display:block;font-size:110%;width:90%;margin:0 auto;text-align:center;border:0;}
#AddToList{background:transparent url(/Assets/Common/Images/butn_ADD_SHOPLIST_over.gif) repeat scroll 0 0;border:0 none;clear:none;float:left;height:35px;margin:0 auto;width:85px;}
td.ItemPrice{width:70px;}
td.IconsHTML{width:75px;}
td.ItemName{padding-top:5px;width:31%;}
td.priceperunit{width:55px;}
input#btnSearch.CircularGoButton{padding-top:0;font-size:9px;}
#ctl00_ContentPlaceHolder1_EmailShoppingList1_btnPreviewEail{display:none;}
#ctl00_ContentPlaceHolder1_EmailShoppingList1_btnSendEmail{margin:4px 0 0 0;}
/** default tab styles **/
#secondary-navigation a{padding:5px 10px 4px 2px;text-decoration:none;letter-spacing:-0.2px;line-height:110%;font-size:110%;font-weight:bold;color:#00524D;}
#secondary-navigation a:hover{color:#209B5A;}

/*** header ***/
#StoreHeader{ background: transparent url(/Assets/123/images/header_bg.jpg) no-repeat top left; width:985px; margin:0px 0 12px;}
#StoreHeaderLogo{ display:inline; width:355px;margin-left:20px;}
#StoreHeaderRight{float:right; height:32px; position:relative; top:30px; width:131px; }
#StoreHeaderRight img{float:left;margin-right:5px;}
#StoreHeaderRightTop { background-color:transparent; border:none; height:32px; }
#StoreHeaderMiddle { display:inline; float:left; margin-top:20px;  }

.style1 {color: #FFFFFF}
#StoreHeader a { font-size: 12px; color: #FFFFFF; }
#StoreHeader a:link { text-decoration: none; }
#StoreHeader a:visited { text-decoration: none; color: #FFFFFF; }
#StoreHeader a:hover { text-decoration: none; color: #FFFFFF; }
#StoreHeader a:active { text-decoration: none; color: #FFFFFF; }
#StoreInfoDiv{ width:auto; background-color:transparent; color:#000; font-size:12px; font-weight:normal; text-align:center; }
#StoreInfoDiv span { font-size:16px; margin:0; }

/*** nav bar ***/
li.active { background-color:#99C24C; border-left:1px dashed #fff; border-right:1px dashed #fff; }
#StoreMenu{ background:#fff url(/Assets/124/images/GSN_nav_left.gif) no-repeat top left; color:#fff; font-weight:normal; height:32px; padding:0 0 0 29px; position:relative; width:956px; }
#StoreMenu ul { background-color:#A8CB67; float:left; height:32px; margin:0; text-align:left; width:636px; }
#StoreMenu li { display:block; float:left; height:18px; padding:7px 6px; }
#StoreMenu li a:hover, #LoginBox a:hover {color:#FFFF66;}
#StoreMenu li a { text-transform:uppercase; }
#StoreMenu li.navPipe { background: url(/Assets/124/images/mainNav_pipe.gif) no-repeat scroll 0 5px transparent; display:inline; height:32px; margin:0 10px; padding:0; width:1px; }

#LoginBox { background-color:#A8CB67; float:right; height:18px; min-height: 18px; margin:0; padding:7px 0; width:320px; }

/* Footer */
#GsnFooter {float:none;}
/*** tabs **/
#secondary-navigation li{color:#000000;background-image:url("/Assets/123/Images/left.gif");}
#secondary-navigation a{color:#000000;background-image:url("/Assets/123/Images/right.gif");}
#secondary-navigation #current{color:#FFFFFF;background-image:url("/Assets/123/Images/left_on.gif");}
#secondary-navigation #current a{color:#FFFFFF;background-image:url("/Assets/123/Images/right_on.gif");}
#RecipeCardTop #secondary-navigation #current{color:#FFFFFF;background-image:url("/Assets/123/Images/left_on.gif");}
#RecipeCardTop #secondary-navigation #current a{color:#FFFFFF;background-image:url("/Assets/123/Images/right_on.gif");}
#secondary-navigation #blank{width:45px;}
#MyPantry .pageSubHeader{background:url(/Assets/123/images/headerCoupon.gif) no-repeat top right;height:26px;margin-right:85px;}
#mypantry p {margin:5px 0}
#CtrlDepartmentDropDown {margin-bottom:10px;}

/*** featured recipe,weekly article,ask the chef,cooking tips ***/
#RecipeCardMiddle #MealPlanner,
#RecipeCardMiddle #FeaturedRecipeTeaser{width:42%;display:inline;border:1px solid red;background:transparent url(/Assets/123/Images/tan_gradient.jpg) repeat-x top;}
#AskTheChefTeaser,
#CookingTipsTeaser,
#FeaturedArticleTeaser{height:260px;min-height:260px;border:1px solid red;background:transparent url(/Assets/123/Images/tan_gradient.jpg) repeat-x top;}
#FeaturedArticleTeaser h3,
#AskTheChefTeaser h3,
#CookingTipsTeaser h3,
#FeaturedRecipeTeaser h3{color:#FFFFFF;}
#FeaturedArticleTeaser h2 a,
#AskTheChefTeaser h2 a,
#CookingTipsTeaser h2 a,
#FeaturedRecipeTeaser h2 a,
#MealPlanner li a{color:black;}
#MealPlanner h3{color:#E22232;}
#FeaturedArticleTeaser.recipe,#AskTheChefTeaser.recipe,#CookingTipsTeaser.recipe{border:1px solid red;}
/*** splash page ***/
#AdPromo{background:transparent url(/Assets/123/Images/giant_green_gradient.jpg) top;}
#AdPromo p{color:#FFFFFF;}
/*** meal planner ***/
#MealPlanner{background:transparent url(/Assets/123/Images/giant_green_gradient.jpg) top;}
/*** shopping list ***/
#ShoppingList{padding:0;}
#savedshoppinglists h2{color:#C02407;border-bottom:1px solid #E22232;}
#ShoppingListItems1_gItems a:link{font-weight:normal;}
#SavedLists1_gvSavedLists_ctl02_SavedListItems1_gvItems{text-indent:1em;}
#TitleBar,#CurrentList{border:none;border-bottom:1px solid #999999}
/*** all table headers ***/
th{background-color:#99CC66;}
/*** coupon icons in avail varieties and elsewhere ***/
#availcouponimage{height:30px;background:url('/Assets/123/Images/CouponImage.gif') 7px left no-repeat;}
#ManageList .CouponImage .CouponIcon{width:32px;height:32px;background:url('/Assets/123/Images/CouponImage.gif') no-repeat;}
/*** coupons grid ***/
#tblCouponTopN{border:2px solid #E22232;}
.CouponsGrid.GridMode1 .couponsSavings,
.CouponsGrid.GridMode3 .couponsSavings,
.CouponsGrid.GridMode1 .couponsStoreSavings{background:url('/Assets/123/Images/coupon_burst_background.png') no-repeat scroll 0 0;_background:url('/Assets/123/Images/coupon_burst_background.gif') no-repeat scroll 0 0;}
#CouponsPage .pageHeaderContainer{clear:both;float:left;height:60px;width:520px;background:transparent url(/Assets/123/images/CouponsHeader.gif) no-repeat scroll 0pt 0pt;}
/*** 3-panel toolbox ***/
#InBetween1,#InBetween2{color:#E22232;}
#ThreePane select{font-size:90%;font-weight:bold;}
/*** grid styles ***/
.GridItem{clear:both;text-align:left;background-color:#FFFFFF;color:#000000;font-weight:bold;}
.GridItem th,.ProductDisplay th{text-align:left;background-color:#FFFFCC;color:#000000;font-weight:bold;padding-left:5px;}
.GridAlternatingItem{text-align:left;background-color:#EEEEF2;color:#000000;font-weight:bold;}
.GridAlternatingItem td,.GridItem td,.GridItem th{font-size:90%;}
#CircularAdGrid table{border-collapse:collapse;}

#SaleItems .couponsDescription {min-height:80px;}
.ItemSavings{width:75px;}
/*** recipe page ***/
#RecipeCardTop{width:100%;height:auto;padding:0;background:none;}
#RecipeCardMiddle{background:white;border:0px;}
#RecipeCardBottom{display:none;}
#FeaturedRecipeTeaser.recipe,
#MealPlanner.recipe{margin-top:12px;}

#Options tr th{background-color:#99CC66;}
#tblPersonalizedSpecialsTopN{border:1px solid #007348;}
/*** about us page ***/
#StoreSelector{background-color:#70A6A4;}
a.button,a.button:hover{font-weight:bold;color:white;background:transparent url('/Assets/Common/Images/standard_submit_green_span.gif') no-repeat scroll top right;display:block;float:left;font:normal 10px arial,sans-serif;height:18px;margin-right:6px;padding-right:10px;/* sliding doors padding */text-decoration:none;}
a.button span,a.button span:hover{font-weight:normal;color:white;background:transparent url('/Assets/Common/Images/standard_submit_green.gif') no-repeat;display:block;line-height:12px;padding:3px 0 3px 10px;font-size:10px;}
a.button:active{background-position:bottom right;color:#000;outline:none;/* hide dotted outline in Firefox */}
a.button:active span{background-position:bottom left;color:white;padding:4px 0 2px 10px;/* push text down 1px */}
/* Browse Page */
#Inventory .AddButton select { font-size:130%; }
.pageHeaderContainer {float:left;}
/*** five list icons ***/
#FiveListButtons								{height:65px}
#FiveListButtons span							{line-height:112%;background-color:#F2F2F2;}
#FiveListButtons input							{width:70px;}
#FiveListButtons a 								{background-position:15px 0;background-repeat:no-repeat;height:50px;margin-left:17px;padding:0;width:70px;}
#FiveListButtons a span							{width:70px;}
#FiveListButtons a:hover						{background-position:15px -50px;}
#FiveListButtons a.shoplistConvertCart			{margin-left:30px;}
#FiveListButtons a.shoplistConvertList			{margin-left:30px;}

#AddYourOwnItems{display:none;}
#ShoppingList table span{margin-right:0;}
#ShoppingList table .firstItem { width:150px; }
table#ManageListTotal{background:none transparent;}
table#ManageListTotal td{padding-left:5px;padding-right:55px;}
#CheckOutHeader,#UserInformation,#SubstituteItems,#Taxes,#DeliveryInformation{width:985px;}
#CheckOutSteps,div.checkoutInfoDiv{background-color:#fdf9ee}
.checkoutHeader{margin-top:10px;}
#CheckOutSteps{margin-top:-12px;}
#ManageList .StaticContent{margin-bottom:0;background-color:#efefef;padding:0 10px;width:570px;}
#ManageList .Item{text-transform:capitalize;}
.category th {text-align:left;}
th.Item {width:145px;}
th.PriceSavings {text-align:center;width:65px;}
th.ItemTotal {width:75px;}
th.ItemImage {width:70px;}
th.ItemImage,th.CouponImage,th.Delete, th.Update {text-indent:-9999px;} /* for screen readers and text browsers */
.cardNumber {padding-top:5px;}
#ShoppingListCheckoutButtonBottom .button {margin:1em 0;}
#ShoppingListCheckoutButtonBottom .button.continueshopping {float:left;}
#ShoppingListCheckoutButtonBottom .button.checkout {float:right;}

/* ExpressLane Delivery Slot Info */
.dateSelector, .timeSelector { width:190px; }
.dateSelector table { width:189px; }
#main .infoMain p {float:left;clear:both;margin:1em 0;width:100%;}
#main .timeSelector {float:left; height:142px; width:196px;}
#main .dateSelector {float:left; margin-right:24px;width:196px;}
#main .timeSelector span {display:block; margin:5px 0;}
#main .timeSelector select {height:142px; width:100%; }
#main .deliveryTimePanel { background:white; width:190px; }

#deliveryTimeSelector {width:500px;}
#DeliveryInformation .delivery .infoMain { width:400px; } /* for calendar in checkout */
#DeliveryInformation #main .infoMain { margin:0 auto; width:425px; } /* for non-checkout calendar */
/*** Check Out/Item Total Order pages ***/
th.gvHeader{text-align:center;}
td.gvQuantity{width:250px;}
#CheckOutButtons{margin:1em auto 1em 370px;}
.gvSubtotal,.gvPrice,.gvTaxAmount{width:90px;}

/* Invoice/Thank You page */
#OGSInvoice {margin:0 auto;width:650px;}
.invoiceLabel {font-weight:bold;vertical-align:top; width:120px;}
.invoiceinformation table {margin-top:1em;}
.invoiceSubtotal {width:200px;margin:0;float:right;}
.invoiceSubtotal .invoiceLabel { width:auto; }
.promoDescription {text-indent:1em;}
.disclaimer { width:270px; }

.ItemQuantity { width:80px; }
/** flow grids **/
.grid_3{width:187px;height:60px;float:left;margin-left:5px;margin-bottom:5px;border:dotted 1px black;}
a.grid_3{border:dotted 1px black;font-weight:bold;}
.grid_3 span{width:120px;float:left;vertical-align:bottom;margin:20px 0 0 5px;font-size:10px;}
.grid_3 img{float:left;margin:10px 5px 5px 5px;}
#ManageList strong.comment{margin-right:1px;color:#060}
/*** OGS Pages ***/
.GridAlternatingItem td.ItemImage{background-color:#fff;}
.ItemName strong.comment{color:#009A3C;font-size:90%;text-transform:lowercase;margin-top:0px;}
span.SalePrice{color:#009A3C;font-family:Verdana,Arial;}
#ShoppingList table input.comment{width:150px;}
td.AddButton{width:65px;}
#ShoppingListHeaderLarge{background:transparent url(/Assets/124/Images/gray_largeshopcart.jpg) no-repeat scroll left top;}
#ShoppingListHeaderLarge.Saved { background-image:url(/Assets/124/Images/shopcart_590.jpg); }
.Advertise.No-Remove{display:none;}
#Options .AddButton{width:120px;}
div.divRemoveUpdate{width:65px;}

/*------------------------------------------------*/
/* !IE 6
/*------------------------------------------------*/
* html #StoreHeaderMiddle { width:300px !important; }
