@charset "UTF-8";
/* CSS Document */
/*------------------------------------*/
/*  Redners Market - Style Overrides   */
/*------------------------------------*/

html, body {height: 100%;background: none;}
body 				{ background: url(../Images/headerandBG.png);background-attachment:fixed;font-size: 0.7em;}
#container-outer	{ background: url url(../Images/headerandBG.png) repeat-x;min-height: 100%;}
#container			{ background:none transparent;padding:0;}

#Home				{ margin: 10px 0 0;}

h2	{ border-bottom: 2px solid #999999;  clear: both; font-size: 130%; font-weight: bold;  margin-bottom: 1em; margin-left: 10px;  margin-right: 0; margin-top: 12px; padding-bottom: 3px; width: 570px;}
h3	{ font-weight:bold; font-size: 110%; text-transform: uppercase; font-family: "Georgia" , "Times New Roman", Times, serif; color:#ffffff; letter-spacing:1px; margin-top:5px; text-align:center; }
h4	{ float:left; font-size: 200%; font-family: "Calibri" , Helvetica, Arial, sans-serif; color:#ffffff; margin:10px 0 20px 10px; text-align:left; width:150px;}

.pageHeader 	{ color: #E22232; margin: 10px 0 10px 10px; border:0; }

a.button, 
a.button:hover	{ background:url("../Images/registrationSigninBG.png"); }


#main{
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 0px 3px 12px #999;
	margin-left: 0px;
	width:590px;
	background:white;
	margin-top: 41px;
	padding-bottom:10px;
	}


#EmploymentOpeningsPage, #StaticContentPage {
	background: #fff;
	padding: 10px;
    width: 890px;
}

.staticContentEntry {
    width: 890px;
}

.adPodFrame4, .adPodFrame6, .adPodFrame1 { background-color: transparent;}
#banner-advertisement 		{ background:none transparent;}
.AdMaster.Tile6 			{ background:none transparent;}		

/*------------------------------------------------*/
/* !color */
/*------------------------------------------------*/
a:link,a:visited,a:active,a:hover,#CircularLists span a:hover { color:#FF0000; }
th { background: url("../Images/currentTabBG.png")right bottom; color:#FFFFCC; }





/*------------------------------------*/
/*  Header   */
/*------------------------------------*/

#StoreHeaderLogo{
	margin: 10px 0 0 40px;
	text-indent:-9999px;
	}

#LoginGreeting { width: 100%; clear:both;}

#LoginLabelText { color: #000; font-size: 16px;}
#LoginAsLabel 	{ color: #9F1C1A; font-size: 16px; font-weight: normal;}
#LoginInfo 		{ margin: 0 0 0 10px;}

#fb-image							{ float:left;}
#StoreHeaderLogin.LoginFB 			{ width: 340px;}
#LoginGreeting.login-fb-greeting 	{ clear:none; width: 70%;}

/*------------------------------------------------*/

/* !Log-In / Social */

/*------------------------------------------------*/
	
#StoreHeaderLoginContainer{
	background:url(../Images/socialMediaBG.png);
	width:348px;
	height:69px;
	background-repeat:no-repeat;
	margin: 10px 0px 0 0px;
	padding:0;	
}

#StoreHeaderLogin{
	margin: 15px 0px 0 0px;
	padding:0;	
}

#main-login-button {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

#fb-login-button{
	float:right;
    margin-right: 13px;
}

#LoginInfo{
}

#StoreHeaderLogin{}

#main-login-button {
	background:url(../Images/signinBG.png);
	margin-left: 13px;
	width:123px;
	height:19px;
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color:#FFF;
	}

#main-login-button span {
    text-align: center;
}

#main-login-button a.button span, a.button span:hover {
    color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 12px;
    line-height: 12px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login-register {
    float: left;
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
    width: 160px;
}    
#LoginInfo login-register a{font-color:#4E0E07;}
#LoginInfo login-register a:hover{font-color:#9F1C1A;}

#SignUpV2 { width: 535px;}
#signUpPhoto { width: 195px}

/*------------------------------------------------*/

/* !primary navigation */

/*------------------------------------------------*/

#primary-navigation 		{float:left;margin:0;padding-left:0; background:url(../Images/navBanner.png); width:928px;height:63px; font-weight:bold; font-size: 100%; font-style: all caps; font-family: "Georgia" , "Times New Roman", Times, serif; }
#primary-navigation a		{color:#FFFFFF; text-decoration:none;}
#primary-navigation a:hover	{color:#FFFFFF; text-decoration:none;}
	
#primary-navigation li 			{ float:left;height:100%;list-style:none;padding:0;margin:22px 0 0 15px;}
#primary-navigation li.firstNav { margin-left: 40px;}
#primary-navigation li a 		{display:block;}
#primary-navigation li a span {background-position:center 0;background-repeat:no-repeat;cursor:pointer;display:block;text-decoration:none;text-transform: uppercase;font-weight:bold;font-style: all caps; font-family: "Georgia" , "Times New Roman", Times, serif;}

#primary-navigation li ul {left:-9999px;margin:9px 0 0 0;padding:5px;position:absolute;z-index:6; width: 135px; background:url(/Assets/228/Images/navListBG.png) repeat-x; font-weight:bold;line-height:150%; font-style: all caps; font-family:Calibri, Arial, Helvetica, sans-serif;}
#primary-navigation li ul a span	{font-family: Arial, sans-serif; font-size: 90%;}
#primary-navigation li ul a span:hover	{ color:#FFD700;}

#primary-navigation li.sfhover ul 			{ left: auto; z-index: 999; } /* ie6 suckerfish drop-down menus */
#primary-navigation li:hover ul {left:auto;}
.TertiaryNavLink	{ background:url(../Images/navFlyoutArrow.png) no-repeat right center; display:block; width:100%; height:26px;}

.TertiaryNavLink a{}
.TertiaryNavLink a:hover{}

#primary-navigation li ul li {margin:1px 0 0 -1px;clear:both;}
#primary-navigation li ul li a:hover {text-decoration:none;}
#primary-navigation li ul li ul, #primary-navigation li:hover ul li ul {left:-9999px;margin:-24px 0 0 135px;padding:5px;position:absolute;z-index:6;}
#primary-navigation li ul li:hover ul {left:auto;}
	
.subnav-link {
	width 145px;
}
	
/*------------------------------------------------*/
/* !home page */
/*------------------------------------------------*/	


/*------------------------------------------------*/

/* !Slideshow */

/*------------------------------------------------*/	

#SplashImage 				{ width:590px; height: 301px; margin-left: 10px; display: block;float: left;}
#SplashContainer, .home-splash-wrapper 		{ margin: -11px 0 0 0; float: left; height: auto; margin-top: -11px; width:590px;}
#slideshow 					{ width:590px; height: 300px;  	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;}

/* hide old play pause button*/ 
#playpause					{display:none;} 

/* show new play pause button*/ 
#slideNavButtons 			{display:block; bottom:0px; z-index: 6;}

/*------------------------------------------------*/
/* !Homepage Modules */
/*------------------------------------------------*/

#splashblocks, .home-module-wrapper { display:block; width:590px; height:auto; padding:0; float:left; margin:0 0 12px 0; }


#AdPromo { 
	float:left; 
	margin:-10px 0 10px 19px; 
	width:300px; 
	height:295px; 
	background-color:#FFFFFF; 
	background:url(../Images/adPromo01.png) repeat-x; 
	text-align:center; 
	clear:right; 	
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;}
#AdPromo h2 { text-align:center; margin:0; color:#FFFFFF; font-size:120%; border:0px none; }
#AdPromo p {margin:4px 0 0 0; }
#AdPromo img { margin:10px auto 0 auto; min-height: 200px; max-height: 255px; max-width: 300px;}


#EmailsPromo{
	float:left; 
	margin:3px 0 0 10px; 
	width:217px; 
	background-color:#FFFFFF; 
	background:url(../Images/adPromo01.png) repeat-x; 
	clear:left;
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
}
#EmailsPromo a:link, 
#EmailsPromo a:visited, 
#EmailsPromo a:active,
#EmailsPromo a:hover, a:hover { color:#9f1c1a; }


#CouponPromo{
	margin:3px 0 0 10px; 
	width:217px; 
	background-color:#FFFFFF; 
	background:url(../Images/adPromo01.png) repeat-x; 
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
	}
	
#CouponPromo a {
	text-align: center;
	display: block;
	width: 100%;
	

}

#CouponPromo img {
	margin: 0 auto;

}
#couponOutline{
	width:276px;
	height:118px;
	background:url(../Images/couponOutline.png) no-repeat;
	margin:13px 7px 13px 7px;
}


#RecipePromo{	
	margin:3px 0 0 10px; 
	width:217px; 
	background-color:#FFFFFF; 
	background:url(../Images/adPromo01.png) repeat-x; 
	text-align:center; 
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
	}

#OnlineOrdering{
	margin:3px 0 0 10px; 
	width:217px; 
	background-color:#FFFFFF; 
	background:url(../Images/adPromo01.png) repeat-x; 
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
}	
	
#OrderSlideShow {
	width:175px;
	height:125px;
}
	
.home-recipe-link{
	width: 100px;
	height: 100px;
	overflow: hidden;
}


.home-recipe-image { max-height: 100px; max-width: 100px; min-height: 85px; min-width: 85px; margin: 0 auto;}

.splashBox{
	min-height: 215px;
	float: left;
	clear: none;
}


.splashBox h3 {
	line-height: 20px;
    margin: 5px 0 20px;
}

.onlineOrdering {
	line-height: 20px;
    margin: 5px 0 0px;
   	min-height: 200px;
}

#OrderSlideshow {
	position:relative;
}

#OrderSlideshow P {
	margin: 0 auto;
}

.orderSlideContainer {
    display: block;
    width: 100%;
}

.orderSlide {
	position: absolute;
	left:0;
	top:0;
	z-index:100;
}

#OnlineOrdering.splashBox H3{
	margin-bottom:1px;
}




/*------------------------------------------------*/

/* !General Content */

/*------------------------------------------------*/


#GsnFooter{
	background:url(../Images/footer_BG.png) repeat-x;
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
	height:44px;
	padding-top:20px;
}

.footerDivider {
	margin:0 5px 0 5px;
}

#GsnFooter .FooterEmphasis, #GsnFooter .FooterEmphasis:active, #GsnFooter .FooterEmphasis:visited {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

.facebook
{
	float: left;
	margin: -7px 0;
}
.saving
{
	float: left;
	margin: -7px 0;
}


.like
{
	margin-left: -287px;
}

.socialLink
{
	float: right;
	margin: -14px 190px 0;
}

.savinglLink
{
	float: right;
	margin: -14px 150px 0;
}

#StoreInfoDiv{
	background:transparent;
	font-color:#333;
    color: #333;
    float: left;
    font-size: 90%;
    height: auto;
	margin: 0 0 0 40px;
	padding 3px 0 0 0;
    width: 100%;
}


#secondary-navigation {
    position:relative;
  	margin-top: -50px;
  	border:0;
  	/* border-bottom-color:#bb8287;
    border-bottom-style: solid;
    border-bottom-width: 1px; */


    }

#secondary-navigation .current {
	background:url("../Images/currentTabBG.png") repeat-x;
		height:45px;

}

#secondary-navigation ul {
	z-index:5;
	}

#secondary-navigation li{
	padding:0px;
	margin-left:10px;
		height:45px;
	background-image:none;
	  background-color: #bb8287;
}

#secondary-navigation a {
    background-color: transparent;
    background-image: url("../Images/secondaryNavBG.gif");
    color: #fff;
    text-transform: uppercase;
	font-weight:bold; 
	font-size: 90%; 
	font-style: all caps; 
	padding: 5px 10px 4px 10px;
	font-family: "Calibri" , Helvetica, Arial, sans-serif;
}

#secondary-navigation a:hover {
    background-color: transparent;
    color: #fff;
}

#SecondaryNavSeparator{
	height: 10px;
	z-index:6;
	background:url("../Images/mainBG.png") repeat-x;
	background-color:transparent;
	float:left;
	width:100%;
	margin-top: -9px;

}

#ShoppingListHeaderSmall{
	background:url("../Images/myShoppingList.png") no-repeat; 
	height: 26px;
}

#secondary-nav-tab1{
    background-color: #bb8287;
    background-image: url("../Images/secondaryNavBG.gif");

}
#secondary-nav-tab2{
    background-color: #bb8287;
    background-image: url("../Images/secondaryNavBG.gif");

}
#secondary-nav-tab3{
    background-color: #bb8287;
    background-image: url("../Images/secondaryNavBG.gif");

}
#secondary-nav-tab5{
    background-color: #bb8287;
    background-image: url("../Images/secondaryNavBG.gif");

}
#secondary-nav-tab6{
    background-color: #bb8287;
    background-image: url("../Images/secondaryNavBG.gif");

}
#secondary-nav-tab7{
    background-color: #bb8287;
    background-image: url("../Images/secondaryNavBG.gif");

}
#secondary-nav-tab8{
    background-color: #bb8287;
    background-image: url("../Images/secondaryNavBG.gif");

}




/*------------------------------------------------*/

/* !Store locator */

/*------------------------------------------------*/

#storeZipEntryForm			{ width: 480px; }
#main #storeZipEntryForm			{ margin-left:10px; }
#GoogleMapStoreList			{ width: 480px; }
#map #GoogleMapStoreList			{ margin-left:10px; }

#GoogleMapStoreList a.button,
#GoogleMapStoreList a.button:active, 
#GoogleMapStoreList a.button:hover, 
#GoogleMapStoreList a.button:visited { color:#FF0000;}

#main #GoogleMapCanvas			{ margin-right:10px; }

#StoreLocator h2 img 		{ display: none;}
#StoreLocator h2			{ font-size: 170%; margin: 12px 0;}
#StoreLocator h2 span		{ margin: 0;}
#StoreLocator .storeInfoZip { min-height: 17em; line-height: 1.5em; padding-top: 15px;}
#StoreLocator .storeInfoZip a {  font-size: 120%;}
#StoreLocator .storeInfoZip h3 { background-color: #a23a32; height: 34px; padding-top: 2px; display: flex; justify-content: center; align-items: center;}
#StoreLocator .storeInfoZip h3 a { font-size: 80%; color: #fff; text-decoration: none;}
#StoreLocator .storeInfoZip .adr{ min-height:50px; padding-top: 2px;}
#StoreLocator .storeInfoZip .store-hours{ min-height:32px;}
#StoreLocator .storeInfoZip .extendedContent{ min-height:48px;}
#StoreLocator .storeInfoZip .phone{ min-height:18px; padding-top: 2px;}

#StoreLocatorDropDown     { position:absolute; top:0px; height:900px; visibility:hidden; }

/*------------------------------------------------*/
/* !shopping list */
/*------------------------------------------------*/
#ShoppingList{
	background-color:transparent;
}
#ShoppingListMain {
    background-color: #FFFFFF;
}
#FiveListButtons {
    background-color: #FFF;
    padding-bottom:10px;
}
#FiveListButtons a.shoplistPrint {
    background-image: url("../Images/ShopList_print.gif");
    background-repeat:no-repeat;
}
#FiveListButtons a.shoplistEmail {
    background-image: url("../Images/ShopList_email.gif");
}
#FiveListButtons a.shoplistLast {
    background-image: url("../Images/ShopList_lastlist.gif");
}
#FiveListButtons a.shoplistSave {
    background-image: url("../Images/ShopList_save.gif");
}
#FiveListButtons a.shoplistManage {
    background-image: url("../Images/ShopList_manage.gif");
}

#FiveListButtons a:hover{
	background-position: 16px -60px;
	text-decoration:underline
}

#ShoppingListMain{}

#FiveListButtons{}

#FiveListButtons a span, #FiveListButtons a span:active, #FiveListButtons a span:visited   {
	margin-top:45px;
    color: #FF0000;
}

#FiveListButtons a span:hover {
    color: #9F1C1A;
    text-decoration:underline
}

#AddYourOwnItems {
    float: left;
	margin: 3px 0px 10px 0px;
    width: 280px;
}

#AddYourOwnItems a.button, #AddYourOwnItems a.button:hover {
	background:transparent url("../Images/addOwnItems.png") no-repeat;
	display: block;
	width:20px;
	height:19px;
}

#AddYourOwnItems span {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: -9999px;
}

#txtAddItem{
	width:219px;
	height:21px;
	background-image: url("../Images/txtAddItemBG.png");
	background-repeat: no-repeat;
	float: left;
	margin-right: 8px;
	padding: 1px 0 1px 5px;
	background-color: transparent;
	border-style: none;
}

#txtAddItem a.button span, #txtAddItem a.button span:hover {
    color: white;
    cursor: pointer;
    display: block;
    height: 12px;
    line-height: 12px;
	text-align:center;
}

#trashcanSmall {
    background-color: transparent;
  	background-position: 0px -26px;
	background-image: url("../Images/remove_list_icon.png");
	background-repeat:no-repeat;
    display: block;
    width: 22px;
    height: 21px;
    text-indent: -9999px;  
}

#trashcanSmall:hover {
    background-color: transparent;
  	background-position:0px -2px ;
	background-image: url("../Images/remove_list_icon.png");
	background-repeat:no-repeat;
    display: block;
    width: 22px;
    height: 21px;
    text-indent: -9999px; 
}

#ShoppingList table div.shopListItemSmall{
	margin: 0 0 0 5px;
}

#ShoppingList td {
	border:0;
}

#ShoppingList table div.shopListItemSmall {
    color: #565656;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight:normal;
}

/*------------------------------------------------*/
/* !Search and Search Results Page */
/*------------------------------------------------*/

#txtGlobalQuickSearch{
	width:170px;
	height:25px;
	background-image: url("../Images/txtGlobalQuickSearch.png");
	background-repeat: no-repeat;
	float: left;
	margin-right: 8px;
	-webkit-appearance: textfield;
	padding: 5px;
	background-color: transparent;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	border-style: none;
}

#GlobalQuickSearch a {
float: left;
}

#GlobalQuickSearch {
    background-color: #F4EFE0;
    float: left;
	padding: 0 0 0 10px;
    margin-bottom: 5px;
    width: 290px;
}

#GlobalQuickSearch a.button, #GlobalQuickSearch a.button:hover {
background: #bb8287 url("../Images/secondaryNavBG.gif");
display: block;
font: normal 10px Arial,sans-serif;
width:103px;
height: 25px;
margin-right: 6px;
padding-right: 10px;
text-decoration: none;
}

#GlobalQuickSearch a.button:active span {
cursor: pointer;
background-position: bottom left;
color: white;
text-align:center;
padding: 4px 0 2px 10px;
}

#GlobalQuickSearch a.button span, #GlobalQuickSearch a.button span:hover {
background: none;
display: block;
height: 12px;
line-height: 12px;
margin-top: 4px;
text-align:center;
}

#GlobalQuickSearch a.button, #GlobalQuickSearch a.button:hover {
font: normal 12px Arial,sans-serif;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	width: 84px;
	text-align:center;
}


#SearchTipsLink a.searchTips {
	background-position:0px 0px;
    background: url("../Images/searchTipsArrow.png") no-repeat;
    text-indent: 30px;
    line-height: 22px;
	color:#231F20;  
	text-decoration:none;
}
#SearchTipsLink a.searchTips:hover {
	background-position:0px -40px; 
    background: url("../Images/searchTipsArrow.png") no-repeat;
    text-indent: 30px;
    line-height: 22px;
	color:#231F20;
	text-decoration:underline;
}
#GlobalQuickSearch h2 {
	text-indent:-9999px;
}

#SearchResults h4 {
    color: #000000;
    margin: 0;
    width: 100%;
}

#SearchResults p, #PreviousOrdersPage p {
    width: 100%;
}

a.button.update,a.button.remove { margin-bottom:2px; }

#EmailShoppingList 			{ padding: 0 20px; width: 545px;}
#EmailShoppingList textarea { width: 445px;}

/*------------------------------------------------*/
/* !Manage List and Saved lists*/
/*------------------------------------------------*/
#legend table { background: #FFF;}
#legend tr {
    height: 48px;
}
#legend tr.saveinput { height: 20px;}
#legend input {margin-left: 57px}
#legend th {background-image: url("../Images/currentTabBG.png");
}
#legend td a img { display:none;}
#legend td a.text-link { padding: 15px 15px 15px 55px;}
#legend .icon { width: 41px;}
#legend tr.print a.text-link { background: url("../Images/printCurrentList.png") left center no-repeat; }
#legend tr.email a.text-link { background: url("../Images/emailCurrentList.png") left center no-repeat; }
#legend tr.delete a.text-link { background: url("../Images/deleteCurrentList.png") left center no-repeat; }
#legend tr.save a.text-link { background: url("../Images/saveCurrentListAs.png") left center no-repeat; }
#legend tr.new a.text-link { background: url("../Images/startNewList.png") left center no-repeat; }
#legend tr.savedLists a.text-link { background: url("../Images/viewSavedLists.png") left center no-repeat; }

#ManageList #ShoppingListItemsDisplay { background: white;}
#ManageList h3 {
    color: red;
    margin: 10px 0 5px;
    text-align: left;
}

#ShoppingListHeaderLarge {
    background: url("/Assets/228/Images/myShoppingListLarge.png") no-repeat scroll left top transparent;}
    
    
#ShoppingListHeaderLarge.Saved {
    background-image: url("/Assets/228/Images/savedShoppingListsLarge.png");
}

#SavedShoppingListsDisplay { background: white;}

#savedshoppinglists h3 { color: #FF0000; width: 390px;}
#savedshoppinglists h4 { color: #FF0000; font-size: 150%; margin-left: 0; margin-top: 15px;}
/*------------------------------------------------*/
/* !coupons */
/*------------------------------------------------*/

.couponsPageGrid h2 {
	margin: 0 0 10px 10px;
}

.couponsPageGrid {
	padding-bottom:10px;
	}

#couponsGridWrapper{
	width:445px;

}

.couponsIntroCopy {
    margin-left: 10px;
}

.CategoryDisplayContainer, .OrderDates {
    clear: both;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    width: 130px;
}

.couponsPageGrid .CategoryDisplayContainer h3 {
    font-size: 110%;
    text-align:left;
}

.CategoryDisplayContainer h3, .OrderDates h3 {
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    clear: both;
    float: left;
    font-size: 100%;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    width: 90%;
}

.gridLayout {
    float: right;
    width: 425px;
}

.gridLayout h2 {
    margin-top: 0;
    width:424px;
}
.GridMode2 .couponsContainer {
	margin: 0 10px 0 10px;
    width: 200px;
}

.GridMode2 .couponsSavings {
	background-image: url("../Images/currentTabBG.png");
    color: white;
    display: inline;
    float: left;
    font-size: 130%;
    font-weight: bold;
    height: auto;
	margin: 5px 0 5px 0;
    padding: 2px 0 2px 2px;
    position: static;
    width: 198px;
}

.GridMode2 .couponsDescription {
    clear: none;
    float: right;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
    height: auto;
    left: 100px;
    line-height: 120%;
    margin-bottom: 0;
    margin-left: 4px;
    margin-right: 1px;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    text-align: left;
    top: 27px;
    width: 95px;
}



.GridMode2 .couponsFrame a.button, .GridMode2 .couponsFrame a.button:hover  {
	background-image: url("../Images/registrationSigninBG.png") repeat-x;
    clear: none;
    height: auto;
    left: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    position: absolute;

    width: 75px;
}

.couponsPageGrid .CategoryDisplayContainer h3 {
    font-size: 110%;
}
.CategoryDisplayContainer h3, .OrderDates h3 {
    font-size: 100%; color: black;
}

.GridMode1 .couponsContainer {
	width:432px;
}

.GridMode1 .couponsDescription {
    width: 270px;
}

a.button.added {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #006B3F;
    background-image: url("/Assets/Common/Images/button_shine_30.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
}

.GridMode1 .couponsFrame a, .GridMode1 .couponsFrame a:hover  {
    clear: none;
	margin:0;
    position: absolute;
    right: 0;
    top: 14px;
    width: 75px;
}

.GridMode3 .couponsContainer {
    display: inline;
    float: left;
	margin:2px;
	padding:0;
    position: relative;
    text-align: center;
    width: 140px;
}

/*------------------------------------------------*/
/* !registration page */
/*------------------------------------------------*/

#SignInControl { padding: 10px;}
#SignInControl h2 {border: none; color: #FF0000; padding-bottom: 12px;}

.signUpSidebarTop{
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
}
.sidebarFeatures{
	width:280px;
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;
}
.signUpSidebarBot{
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;	
	}
	

#login .button {
	background:url("../Images/registrationSigninBG.png");
}
#register .button {
	background:url("../Images/registrationSigninBG.png");
}

.addinfocontainer {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    width: 580px;
}

.signUpSteps, .signUpSteps5 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/Assets/Common/Images/Registration/pReg_stepBg.jpg");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    float: left;
    height: 16px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 5px;
    width: 460px;
}

.signUpDesc {
    border-bottom-color: #CCCCCC;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    float: left;
    width: 570px;
    margin-left:10px;
}
.signUpWhy{
	margin-right:10px;
}

#DietaryPreferencesTip dl {
    clear: both;
    display: block;
    font-size: 90%;
    width: 100%;
	padding-left:10px;
}

#DietaryPreferencesTip dd {
    width: 545px;
}

.fieldInputs input[type="text"], .fieldInputCard input[type="text"], .fieldInputs input[type="password"], .fieldInputCard input[type="password"]{
	background-color: #F4EFE0;	
	border-color:#F4EFE0;
	color:#4E0E07;
}

#SignUpV2 h2 {
    margin-left: 10px;
}
/*------------------------------------------------*/
/* !Browse the Aisles */
/*------------------------------------------------*/

#Department h3, #Aisles h3, #Category h3 {
	color: #A31C1A;
	text-align:left;
	margin-left:10px;
}

div#Department select, div#Aisles select, div#Category select {
    clear: both;
    height: 100px;
    width: 170px;
	border: 1px solid #4E0E07;
	margin-left: 10px;
}

#InBetween1, #InBetween2 {
    color: #A31C1A;
    float: left;
    font-size: 100%;
    font-weight: bold;
    height: auto;
    padding-top: 4px;
}

#table.GridItem {
    border-collapse: collapse;
    width: 580px;
}

.GridAlternatingItem {
    background-color: #eddfde;
    color: #000000;
    font-weight: bold;
    text-align: left;
}

#NutritionTable {
	width: 550px;
	margin-bottom:10px;
}

#NutritionTable hr.thin{
	width:540px;
}

.NutritionLineElement {
    width: 110px;
    }
.NutritionLineElementRight{
	width: 152px;
}

.NutritionLineItem {
	width:275px;
}

.GridItem th, .GridItem th span{
background: url("../Images/registrationSigninBG.png") repeat-x;
color:#FFF;
}

/*------------------------------------------------*/
/* !Weekly Ad */
/*------------------------------------------------*/


.text-only-link a {
	background: url("../Images/searchTipsArrow.png") no-repeat scroll top right transparent;
 	height: 21px;
    overflow: hidden;
    width: 75px;
    margin-right: 25px;
    margin-top: -25px;
}

.text-only-link a:hover {
	background-position: right -30px;
}

#CircularLists { margin: 6px 0 12px 10px;}

.CircularTypeBox h3 {
	color: #231F20;
	float: none;
	margin: 2px auto 10px;
}

.CircularTypeBox {
	margin-left: 6px;
	margin-right: 0;
}


#WeeklyAdPage .noPagesAvailable {
    clear: both;
 	margin-left:10px;
 	margin-top: 10px;
}


#availablevarietiestop {
    background: url("/Assets/228/Images/300pxBGHeader_pinkGrad.png") repeat-x scroll 0 0 transparent;
    clear: both;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 4px;
    width: 100%;
}

#availablevarietiesmiddle{
	background: none #FFF;
}

#CategoryHeader h3,.CategoryHeader h3 { color:#A31C1A;}
#CouponList h3, .CouponList h3 { color:#A31C1A;}


#availprice h3 { color: black;}
#availprice h3 span { border:none;}
#availablevarietiesbottom {
	background: none;
	
}

ul#PagerTop.CircularPager, ul#PagerBottom.CircularPager {
    border-bottom: 1px dashed #C87776;
    
}

#PagerTop.CircularPager li, #PagerBottom.CircularPager li {
    background-color: #C87776;
    color: #FFF;
    font-size: 135%;
    border:none;
    padding-bottom: 1px;
    margin: 0 4px;
}

#PagerTop.CircularPager li.activePage, #PagerBottom.CircularPager li.activePage {
	background: #FFF;
	color: #C87776;
	border-bottom: 1px solid #FFF;
	border-top: 1px dashed #C87776;
	border-right: 1px dashed #C87776;
	border-left:1px dashed #C87776;
	font-size: 135%;
	padding-bottom: 1px;
}

.bigPage .top {
    background: url("/Assets/228/Images/300pxBGHeader_redGrad.png") repeat-x scroll 0 0 transparent;
    
}

.bigPage .middle {
    background: none repeat scroll 0 0 #F0E9D7;}

.thumbNail h1, .bigPage h1 {
	 margin-top: 6px;
}

.bigPage h2 { text-align: left;}    
.bigPage h3 { color: black; font-family: "Calibri",Arial,Helvetica,sans-serif; }
.bigPage h4 { font-size: 21px; color: #A31C1A; font-weight: bold;}



/*------------------------------------------------*/
/* !Quick Search */
/*------------------------------------------------*/

#TopProducts .activeCategory {
	color:red;
}

/*------------------------------------------------*/
/* !Recipe Center */
/*------------------------------------------------*/

#FeaturedRecipeTeaser h2{
width:100%;
color:#A31C1A;
}

#MealPlanner h2{
width:100%;
color:#A31C1A;
}

#FeaturedArticleTeaser.recipe, #AskTheChefTeaser.recipe, #CookingTipsTeaser.recipe{
	margin:12px 3px 10px 10px;
	border: 2px solid #A31C1A;
	background: none #FFF;
	border-radius: 6px 6px 6px 6px;
	padding:10 0 0 10px;
	width:164px;
	min-height: 220px;	
	}
#FeaturedRecipeTeaser h3, #FeaturedArticleTeaser h3, #AskTheChefTeaser h3, #CookingTipsTeaser h3 {
	color:#A31C1A;
}

#FeaturedRecipeTeaser h2, #FeaturedArticleTeaser h2, #AskTheChefTeaser h2, #CookingTipsTeaser h2 {
	color:#A31C1A;
}
#FeaturedRecipeTeaser h2 a,#FeaturedArticleTeaser h2 a,#AskTheChefTeaser h2 a,#CookingTipsTeaser h2 a {
	color:#A31C1A;
}

#SubmitAskChefControl { width: 545px; padding: 0 20px; float: left;}
#CtrlDivComments 		{ width: 370px }
#CtrlDivComments textarea	{ width: 360px;}
#CtrlDivRecipeImage		{ width: 160px; max-height: 190px;}

#SubmitAskTheChefPage #Article {
    background: url("../Images/mainBG.png") repeat-x scroll 0 0 transparent;
    float: left;
    margin-top: -9px;
    width: 100%;
}
#SubmitAskTheChefPage	#BackToArticle { margin-left: 15px;}
#SubmitAskChefControl input[type="text"] { width: 350px;}

#ArticlePage #Article {  padding-left: 10px; width: 97%;}

/*------------------------------------------------*/
/* !Contact Us */
/*------------------------------------------------*/

#ContactUs {
    float: left;
    background-color:#FFF;
    padding-left:10px;
}

h2 {
    border-bottom-color: #999999;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    clear: both;
    font-size: 130%;
    font-weight: bold;
	Margin: 12px 0 0 0;
    padding-bottom: 3px;
    width: 100%;
}

/*------------------------------------------------*/
/* !Advertising */
/*------------------------------------------------*/

.AdMaster.Tile1 {
    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;
    margin-top: -7px;
}

/*------------------------------------------------*/
/* !IE bugs */
/*------------------------------------------------*/
.ie7 #primary-navigation li.firstNav, .ie8 #primary-navigation li.firstNav {
    margin-left: 30px;
}
.ie7 #primary-navigation li ul li { width: 135px;}
.ie7 #primary-navigation li ul a span {width: 135px}

.ie7 .leaderboard	{ clear:both; margin: 0 0 20px; }
.ie7  #secondary-navigation {margin-top: -55px;}

.ie7 #ShoppingListHeaderLarge { margin: 10px;}

.ie7  #ManageListPage #main	{ clear:left;}
.ie7 #legend td a.text-link { display: block;}

.ie7 .adPodFrame1 { height: 90px; overflow:hidden;}
.ie7 .adPodFrame1, .ie7 .adPodFrame5 { background: none transparent;}
.ie7 .AdMaster {background: none transparent;}
.ie7 .AdMaster.Tile1 {height: 90px; overflow: hidden;}