/* Apple Markets St. Joe's*/
html { background: none transparent }
body {
    background: none black;
    font-family: "Trebuchet MS", Trebuchet, Verdana, sans-serif;
}
h2,h3,h1,h2 a,
h3 a,h1 a,
#recipecontent h3,
#FeaturedRecipeTeaser h2,
#MealPlanner h2,
a:link,
a:visited,
a:active { color: #B6000C }
a:hover { text-decoration: underline }
h2 { margin-bottom: 20px }
th {
    background-color: #B6000C;
    color: #FFFFCC;
}
/* layout
--------------------------------------------------*/
#container-outer { position: relative }
#container {
    width: 1090px;
    padding: 0;
    background: none transparent;
}

#main { margin-left: 5px }

.main-wrapper { background-color:#fff; float:left; width:910px; }

#sidebar,
#recipesidebar { 
	margin-left:5px;
	margin-right:5px;
}

#GlobalQuickSearch { display: none }

/* header
--------------------------------------------------*/

#header {
	position:relative;
	width:910px;
}

#header-login {
	position:absolute;
	right:10px;
	top:72px;
}

#header-login span {
	background-color:#232323;
	color:#FFFFFF;
	display:block;
	float:left;
	margin-right:5px;
}

#header-login .header-links a {
	border-left: 1px solid;
    display: block;
    float: left;
	padding-left:5px;
    padding-right:5px;
}
/* top navigation
--------------------------------------------------*/
#top-nav {
    background: transparent url(/Assets/193/Images/nav_bg_repeat.jpg) repeat-x scroll 0 0;
    height: 37px;
    padding: 0 10px;
    width: 890px;
}

#top-nav ul {
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
}

#top-nav li {
	float:left;
}

#top-nav img { display: inline }

/* shop
--------------------------------------------------*/
.ItemSavings {color: #FFFFCC;}
.couponsDisclaimer {
    display: inline;
    float: left;
    text-align: center;
    width: 590px;
    font-size: 10px;
}

.thumbNail .top {
    background: transparent url(/Assets/Common/Images/hover_top_big_bg_red.png) no-repeat;
}
.bigPage .top {
    display: block;
    background: transparent url(/Assets/Common/Images/hover_top_big_bg_red.png) no-repeat;
    height: 31px;
    width: 300px;
    float: left;
    clear: both;
    padding: 0px;
}

/* shopping list
--------------------------------------------------*/
#ShoppingList table {
	margin:0;
	width:270px;
}
#ShoppingListHeaderSmall {
    background: transparent url(/Assets/193/Images/shoppinglist_top.jpg);
    height: 75px;
    width: 300px;
}
#ManageList,
#savedshoppinglists {
    float: left;
    width: 590px;
    background-color: #FFFFFF;
}
#ShoppingListMain { background: transparent url(/Assets/193/Images/shoppinglist_middle.jpg) repeat-y top left}
#ShoppingListItemsDisplay { min-height: 83px; width:270px; }
#ShoppingListHeaderLarge {
    background: transparent url(/Assets/193/Images/ShoppingListLarge_r1_c1.jpg) no-repeat scroll left top;
    height: 49px;
    width: 590px;
}
#ManageList #ShoppingListItemsDisplay { background: transparent }
#ShoppingList #ShoppingListItemsDisplay { margin: 0em 0 }

/* shopping list buttons
--------------------------------------------------*/
#FiveListButtons {
    background: transparent url(/Assets/193/Images/shoppinglist_bottom.jpg);
    padding-top: 12px;
    width: 300px;
    min-height: 90px;
}
#FiveListButtons a {
    display: inline;
    border: 0 none;
    float: left;
    margin: 0 0 0 10px;
    padding: 0px;
}
#FiveListButtons a.shoplistPrint {
    margin-left: 30px;
    background: url('/assets/193/images/ShopList_print.png') no-repeat;
}
#FiveListButtons a.shoplistEmail {
    margin-left: 10px;
    background: url('/assets/193/images/ShopList_email.png') no-repeat;
}
#FiveListButtons a.shoplistLast {
    margin-left: 10px;
    background: url('/assets/193/images/ShopList_lastlist.png') no-repeat;
}
#FiveListButtons a.shoplistManage {
    margin-left: 10px;
    background: url('/assets/193/images/ShopList_manage.png') no-repeat;
}
#FiveListButtons a.shoplistSave {
    margin-left: 10px;
    background: url('/assets/193/images/ShopList_save.png') no-repeat;
}

/* coupons
--------------------------------------------------*/
#CouponsPage .pageHeaderContainer {
    background: transparent url(/Assets/Common/images/new_coupons_header.jpg) no-repeat scroll 0 0;
    height: 100px;
    width: 590px;
}

/* recipes
--------------------------------------------------*/
#RecipeCardMiddle {
    background: none white;
    padding-top: 12px;
}

/* registration
--------------------------------------------------*/
#login {
    margin-top: 20px;
    min-height: 230px;
}
#login fieldset { margin-top: 20px }

#signUpPop1,
#signUpPop2,
#signUpPop3 {
    left: 301px;
    top: 221px;
}
.signUpPopText p { clear: both }

/* footer
--------------------------------------------------*/
#footer {
    clear: both;
    background-color: #232323;
    font-size: 0.8em;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding-top: 12px;
	width: 910px;
}
#footer img {
    border: medium none;
    display: inline;
}

/* IE 6
---------------------------------------------------*/
*html #top-nav { background:#B6000C none; }
