/*------------------------------------------------*/
/* !trig's
/*------------------------------------------------*/
html				{background-image:none;background-color:#FFFFFF;}
body 				{font-size:0.7em; height:100%; background:url(/Assets/148/Images/trigs_background.jpg) transparent repeat-x fixed; 
				font-weight:normal; font-style:normal; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; color:black; margin-top:0; 
				margin-left:0 ;padding-left:0; padding-right:0;}
ul					{list-style-type:square;}
blockquote			{border:1px solid #000000;background-color:#FDF1CB;padding:1em;text-align:center;}
blockquote a		{font-size:12px; text-decoration:underline;color:#1E5C83}
h4,h5							{font-size:14px;}
h6				{font-size:1em;margin:1em 0;border-bottom:2px solid #000;}
 /* layout
--------------------------------------------------*/
#banner-advertisement {margin-left: 478px;}
/*------------------------------------------------*/
/* !heading text
/*------------------------------------------------*/				
.pageHeading					{font-size:20px; color:#000000; text-indent:-99999px;height:90px;}

#ContactUs h2					{height:90px;background:transparent url(/Assets/148/Images/header_comments.gif) no-repeat top left;}
#About h3.pageHeading			{background:transparent url(/Assets/148/Images/header_vision.gif) no-repeat top left;}
#Community h3.pageHeading		{background:transparent url(/Assets/148/Images/header_commun.gif) no-repeat top left;}
#History h3.pageHeading			{background:transparent url(/Assets/148/Images/header_ourhistory.gif) no-repeat top left;}
#Pharmacy h3.pageHeading		{background:transparent url(/Assets/148/Images/header_pharmacy.gif) no-repeat top left;margin-top:10px;}
#EmploymentPositionsHeader h1.pageHeading		{background:transparent url(/Assets/148/Images/header_employment.gif) no-repeat top left;margin-top:10px;border-bottom:none;float:left;}	
#EmploymentPositions h1			{border-bottom:none;}

/*------------------------------------------------*/
/* !top navigation
/*------------------------------------------------*/
#nav-wrap						{background-color:#DF383C;border-top:solid 2px #000000;border-bottom:solid 2px #000000;}
#nav-wrap a						{text-decoration:none;color:#FFFFFF;margin-left:15px;}
#nav li:hover					{background-color:#9C2929;}
#nav li li 						{border-bottom:solid 1px #000000;background-color:#DF383C;}
#nav li ul						{border-left:1px solid #000000;border-right:1px solid #000000;border-top:1px solid #000000;}
#nav							{width:100%;}
#nav ul							{margin-left:2em;}

/*------------------------------------------------*/
/* !header
/*------------------------------------------------*/
.StoreHeaderLogo				{float:left; width:139px;margin:3px 30px 5px 3px;}
#StoreHeader			{background: transparent url(/Assets/148/Images/headerBG.jpg) no-repeat top right;}
#StoreHeaderRightTop 		{border:2px solid #DF383C; margin-bottom:17px;}

#StoreInfoDiv 	{min-height:20px;}

.HelpDiv	{float:right;margin-right:5px;padding:3px 0;vertical-align:baseline;width:auto;}

/*------------------------------------------------*/
/* !home page
/*------------------------------------------------*/
#AdPromo						{background-image:none;float:left;}
#FeaturedRecipeTeaser,
#FeaturedArticleTeaser,
#MealPlanner					{background-image:url(/Assets/148/Images/gold_gradient.jpg); margin-right:2%;float:left;}
#FeaturedRecipeTeaser			{clear:none;}
#DualContentControlDiv			{width:24%;margin-left:0;float:right;}
#SplashImage					{margin:0 0 0 2%;}

.mod-col { float:left; margin-right:2%; width:23%; }
.mod-wrapper { float:left; width:910px; }
.mod-wrapper #MealPlanner { width:95%; }

#social-mod { background-image:url(/Assets/148/Images/home_mod_bg.jpg); background-repeat:no-repeat; height:38px; margin-top:20px; padding:30px 0 30px 10px; width:191px;}
#social-mod strong { color:#e41937; font-size:15px; float:left;}
/*------------------------------------------------*/
/* !store locator page
/*------------------------------------------------*/
#StoreLocatorDropDown			{display:none;}
#StoreLocatorZipLookup			{display:block;}

/*------------------------------------------------*/
/* !shopping list
/*------------------------------------------------*/
#ShoppingListMain				{padding-left:7px;}

/*------------------------------------------------*/
/* !coupons
/*------------------------------------------------*/
#tblCouponTopN					{border-style:solid;}
/*------------------------------------------------*/
/* !grid styles
/*------------------------------------------------*/
.GridItem th					{background-color:#DF383C;}
.GridItem						{background-color:#FFFFFF;}
.GridAlternatingItem			{background-color:#EEEEEE;}
#CouponList table table th		{background-color:#DF383C;color:#FFFFFF;}

#circularThumbnail 				{margin-top:3px;}

/*------------------------------------------------*/
/* !available varieties
/*------------------------------------------------*/
#availablevarietiestop			{background-image:url(/Assets/148/Images/avail_varieties_r1_c1.gif);}

/*------------------------------------------------*/
/* !about page
/*------------------------------------------------*/
.about							{clear:both;margin-bottom:3em; width:100%;float:left;}
.about p						{color:#000; width:525px; font-weight:normal; font-size:14px; text-align:left; margin-left:1em;}
.about ul li					{font-size:14px; margin:14px 0;}
.about h4						{text-decoration:underline; font-size:14px;}

/*------------------------------------------------*/
/* !static content
/*------------------------------------------------*/
.staticContentEntryLeftNav		{ margin-top:1em; }
.staticContentEntryLeftNav p	{font-size:14px;}
.staticContentEntryLeftNav table p { font-size:12px; }

#LeftNav						{ margin-top:1em; }
#LeftNav a						{display:block;background-color:#DFEDB6;color:#1E5C83;border:1px solid #FFFFFF;font-size:14px;font-weight:normal;padding:5px;width:220px;}
#LeftNav a:hover				{background-color:#FFF7B0;text-decoration:none;cursor:pointer;}

.leftnav a:hover {background-color:#FFF7B0;cursor:pointer;text-decoration:none;}
.leftnav a {background-color:#DFEDB6;border:1px solid #FFFFFF;color:#1E5C83;display:block;font-size:14px;font-weight:normal;padding:5px;width:260px;}

#ProductRecalls div.contentDiv					{margin-top:0;}

/*------------------------------------------------*/
/* !deli page
/*------------------------------------------------*/
.optiondiv a {color:inherit;}
.optiondiv h5 {border-top:2px solid #999999;border-bottom:2px solid #999999;}
.price	{font-weight:bold; color:#DF383C;}
.subheading	{font-weight:normal;}
			
/*------------------------------------------------*/
/* !department page
/*------------------------------------------------*/
div.departmentPage							{float:left;width:100%;}
div.departmentPage div.leftnav				{float:left;height:800px; margin-top:1em;}
div.departmentPage table					{border-collapse:collapse; width:100%}
div.departmentPage p						{font-size:14px;line-height:1.5em;}
img.leftImage								{float:left; margin:1em;}
img.rightImage								{float:right; margin:1em;}
div.departmentPage ul						{font-size:14px;}
div.departmentPage ul li					{margin-bottom:1em;}

/*------------------------------------------------*/
/* !partry platters
/*------------------------------------------------*/
#deli .platterCategory				{margin-left:0;margin-top:1em;width:100%;}
#deli .platterCategory td			{padding:0.5em;border:1px solid #000000;}
td.description					{width:230px;}

tr.tableHeading					{background-color:#DFEDB6;font-weight:bold;}

/*------------------------------------------------*/
/* !cellar 70
/*------------------------------------------------*/
#Liquor ul li							{margin-bottom:1em;}

/*------------------------------------------------*/
/* !store hours
/*------------------------------------------------*/
#StoreHours								{margin:1em 1em;padding:1em 1em;width:96%;}
#StoreHours p								{width:60%;font-size:16px; margin:0 auto;color:#000000;text-align:center;}

/*------------------------------------------------*/
/* !shell gas
/*------------------------------------------------*/	
#ShellGas .GasLocationTable			{width:275px; margin:1em; float:left;}
#ShellGas .GasLocationTable td		{text-align:left;}
#ShellGas p							{width:430px;margin-bottom:2em;font-size:14px;}

/*------------------------------------------------*/
/* !produce
/*------------------------------------------------*/
#Produce .contentDiv			{width:450px;}
#ProduceImages					{float:left;width:300px;}
#ProduceImages img				{margin:2em 0;padding-left:2em;}
h2.department					{width:657px;}
.staticContentEntryLeftNav		{width:657px;}

/*------------------------------------------------*/
/* !recipe icon
/*------------------------------------------------*/
#ChainRecipes	{display:inline;}

/*------------------------------------------------*/
/* !store coupon
/*------------------------------------------------*/
#storeCouponsPage	{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; page-break-before:always}
#storeCouponFrame	{width:360px; margin-left:50px; border:3px dashed red; position:relative; margin-bottom:32px;text-align:center;}
#storeCouponFrame #couponTitle {width:250px;padding:0 50px;}
#storeCouponFrame h1 {font-size:14pt; width:250px; text-align:center;padding:0;}
#storeCouponFrame #couponBrand {width:250px;padding:0 50px;}
#storeCouponFrame h2 {font-size:12pt; width:250px; text-align:center;padding:0;}
#storeCouponFrame #couponDescription {width:250px;padding:0 50px;}
#storeCouponFrame p {font-size:10pt; width:250px; text-align:center;padding:0;}
#storeCouponFrame #couponImage {margin: 1em 2em;}

/*------------------------------------------------*/
/* !registration page
/*------------------------------------------------*/
#signUpPop1, #signUpPop2, #signUpPop4 {top:231px;}
/*------------------------------------------------*/
/* !WeeklyAd
/*------------------------------------------------*/
#icon-legend {
    display: none;
}
/*------------------------------------------------*/
/* !IE 6
/*------------------------------------------------*/
* html #StoreInfoDiv 	{ height:20px; }

