.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}


#promoLP-wrap { 
	background-color: #c82020;
	width:590px; 
}
#promoLP-header	{
	background-color: #c82020; /*--#541504---*/
    padding-bottom: 12px;
    padding-top: 12px;
	text-align: center;
	width:100%;
}
	

#promoLP-header img { 
	display: inline; 
}
	
#promoLP-main { 
	background-color: #c82020;
	width:100%;
}
	
#promoLP-main h2{
	border: medium none;
    color: #2E1A03;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 25px 20px 0;
    text-align: center;
    width: 90%;
    
}
	
#promoLP-main .promoLP-product-row {
	background:transparent url(../Images/row_separator.png) no-repeat 50% top;
	margin:1em 0;
}

#promoLP-main .promoLP-product {
	text-align: center;
}

.promoLP-product-listing {
	background: #FEF1D0;
	box-shadow: 1px 1px 13px rgba(100, 0, 0, 0.5);
	width: 27%;
	min-height: 306px;
	border-radius: 10px;
	padding: 2% 1%;
	margin: 2% 1%;
	display: inline-block;
	vertical-align: top;
}
	
#promoLP-main .promoLP-product img {
	display: inline;
}

#promoLP-main .promoLP-product p { font-weight: bold;}

#promoLP-main .promoLP-product h2 {
	border: none;
	color: #c41a37;
	font-size: 18px;
	width: 1px;
}
	
#promoLP-main .two-column .promoLP-product {
}

.promoLP-product{
	padding: 0;
	clear: none;
	width: 100%;
}

#promoLP-main .two-column {
	width:60%;
	margin:auto;
}

#promoLP-main .three-column {
	width:100%;
}
	
#promoLP-main .promoLP-button { 
	background:#c42b2d url(/Assets/Common/Images/button_shine_30.png) left 50% repeat-x; 
	border:1px solid #c42b2d;
	border-radius:4px;
	color:#fff;
	display: block; 
	font:14px Arial, Helvetica, sans-serif;
	margin:1em auto;
	padding:.2em 0;
	text-decoration: none;
	width:120px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#promoLP-main a.promoLP-button:hover {
	background-color: #871e22;

}
	
/*------------------------------------------------*/
/* !IE 7 */
/*------------------------------------------------*/
.ie7 .promoLP-product-listing {zoom: 1; display: inline;}

*:first-child + html .group { min-height:1px; }
	
/*------------------------------------------------*/
/* !IE 6 */
/*------------------------------------------------*/
.ie6 .promoLP-product-listing {zoom: 1; display: inline;}

* html #promoLP-main .promoLP-button {
	background-image:none;
}
	
* html .group {
	height:1%;
}
	
* html #promoLP-main .promoLP-product-row {
	background-image: none;
}