.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#promoLP-wrap { 
	background-color:#f9e8d3;
	float:left;
	padding:10px;
	width:570px; 
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.3);-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.3);box-shadow: 3px 3px 4px rgba(0,0,0,.3);
}

#promoLP-header	{
	float: left;
	width: 100%;
}
	
#promoLP-header .promoLP-logo { 
	float: left;
}

#promoLP-header h1 { 
	display: none; 
}

#promoLP-header h2{
	border-bottom:none;text-align:center;
}
	
#promoLP-main { 
	float:left;
	width: 100%;
}
	
#promoLP-main .promoLP-product {
	background-color:#FFFFFF;
	border:2px solid #CDCDCD;
	float:left;
	margin:5px;
	padding:10px;
	text-align: center;
	width:250px;
}
	
#promoLP-main .promoLP-product img {
	display: inline;
	max-height:175px;
}

#promoLP-main .promoLP-product h3 {
	border: none;
	color: #c41a37;
	display:block;
	font-size: 16px;
	margin:10px 0;
	padding:0;
}

#promoLP-main .promoLP-product p {
	margin:10px 0;
}
	
#promoLP-main .promoLP-button { 
	background:#c41a37 url(../../../Images/button_shine_30.png) left 50% repeat-x; 
	border:1px solid #c41a37;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	display: block; 
	font:14px Arial, Helvetica, sans-serif;
	margin:5px auto;
	padding:.2em 0;
	text-decoration: none;
	width:120px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
	
/*------------------------------------------------*/
/* !IE 7 */
/*------------------------------------------------*/
*:first-child + html .group { min-height:1px; }
	
/*------------------------------------------------*/
/* !IE 6 */
/*------------------------------------------------*/
* html #promoLP-main .sargento-button {
	background-image:none;
}
	
* html .group {
	height:1%;
}