/*  Country Mart
--------------------------------------------------*/
html			{height:100%; background: transparent url(/Assets/119/Images/bg.gif);}
body 			{font-size:0.7em; height:100%; background:transparent; font-weight:normal; font-style:normal; font-family: Verdana, Arial, Helvetica, sans-serif; color:black; margin-top:0; margin-left:0 ;padding-left:0; padding-right:0;}
a:link,
a:visited,
a:active		{font-weight:bold; color:#AC7806; text-decoration:none;}
a:hover			{font-weight:bold; color:#FF0000; text-decoration:underline;}
h2				{color:#AC7806;}
th 				{ background-color:#FF9933; }

/* layout
--------------------------------------------------*/
#sidebar, 
#recipesidebar	{ margin:12px 0 0 10px; }
#container		{ background:none transparent; padding:0; }
.main-wrapper	{ background-color:#FFF; padding:0 0px; }
#main			{ padding-left:5px;}
#imgSubHeader	{ clear:both; float:left; }
#GsnFooter		{ margin:0; padding:1em 0; }

/* header
--------------------------------------------------*/
#StoreHeader			{background: transparent url(/Assets/119/Images/bg.gif); margin-bottom:0px; }
#StoreHeaderRight		{position:relative;}
#StoreHeaderRightTop 		{z-index:3; position:absolute; right:20px; top:-4px; width:160px; border: none; background:none;}
#StoreHeaderLogo		{width:100%; height:75px; background: transparent url(/Assets/119/Images/HeaderLogo.gif) bottom left no-repeat;}
#StoreHeaderMiddle		{}
#StoreInfoDiv {background-color:white;color:#AC7806;}

/* tabs
--------------------------------------------------*/
#secondary-navigation				{font-size:85%; background-image:url("/Assets/119/Images/tabs_white_background.jpg");}
#secondary-navigation li 			{color:#AC7806; margin-right:5px; padding-left:6px; background-image:url("/Assets/119/Images/left_on.gif");}
#secondary-navigation ul			{padding-left:6px;}
#secondary-navigation a			{padding-right:11px; color:#AC7806; background-image:url("/Assets/119/Images/right_on.gif");}
#secondary-navigation #current 		{color:#AC7806; background-image:url("/Assets/119/Images/left.gif");}
#secondary-navigation #current a 		{color:#AC7806; background-image:url("/Assets/119/Images/right.gif");}
#RecipeCardTop #secondary-navigation #current 	{background-image:url("/Assets/119/Images/left.gif");border-width:0;}
#RecipeCardTop #secondary-navigation #current a 	{background-image:url("/Assets/119/Images/right.gif");color:#AC7806;padding-bottom:5px;}

/* nav bar
--------------------------------------------------*/
#nav-wrap		{ border-bottom:2px solid #F18519; background-color:#fff; padding:0 0px; width:910px; }
#nav			{ font-size:100%; background:white; color:#AC7806; margin-bottom:0; }
#nav ul			{ float:left; margin:0 0 0 100px; }
#nav li			{ margin: 0 10px; }

#nav li a,
#nav li a:visited, 
#nav li a:active	{ color:#AC7806; text-decoration:none; }

#nav li a:hover		{ color:#FF0000; }

/* home page
--------------------------------------------------*/
#AdPromo			{background:transparent url(/Assets/119/Images/article_background.jpg) repeat-x;}
#AdPromo p			{color:#FFFFFF;}

/* Weekly Ad Page
--------------------------------------------------*/
.text-only-link a	{width:90px;}


/* featured teaser
--------------------------------------------------*/
#FeaturedRecipeTeaser		{background:transparent url(/Assets/119/Images/article_background.jpg) repeat-x; }
#FeaturedArticleTeaser		{background:transparent url(/Assets/119/Images/article_background.jpg) repeat-x; }
#AskTheChefTeaser		{background:transparent url(/Assets/119/Images/article_background.jpg) repeat-x; }
#CookingTipsTeaser		{background:transparent url(/Assets/119/Images/article_background.jpg) repeat-x; }
#FeaturedArticleTeaser h2 a,
#AskTheChefTeaser h2 a,
#CookingTipsTeaser h2 a,
#FeaturedRecipeTeaser h2 a	{color:#AC7806;}
#MealPlanner			{background:transparent url(/Assets/119/Images/article_background.jpg) repeat-x;}

/* shopping list
--------------------------------------------------*/
#savedshoppinglists h2		{color:#C02407; border-bottom:1px solid #AC7806;}
#legend th			{background-color:#AC7806;}

/* product page
--------------------------------------------------*/
#Department h3, 
#Aisles h3, 
#Category h3,
#InBetween1,
 #InBetween2,
#CircularAdText1_dlCategory h3,
#CategoryHeader h3		{color:#AC7806; }

.GridItem th			{background-color: #AC7806; color: #FFFFCC; }

/* available varieties
--------------------------------------------------*/
#availablevarietiestop		{background: url('/Assets/119/Images/avail_varieties_300_r1_c1.gif') no-repeat 0 0; }
#availablevarietiestop h2	{color:#AC7806;}

/* recipe page
--------------------------------------------------*/
#RecipeCardTop					{width:100%; height:auto; padding:0; background:none;}
#RecipeCardMiddle				{background:url(/Assets/119/Images/recipe_background.jpg) bottom no-repeat; border:0px;}
#RecipeCardBottom				{display:none;}
#FeaturedRecipeTeaser.recipe,
#MealPlanner.recipe				{margin-top:12px;}

/* headings
--------------------------------------------------*/
 #ctl00_ContentPlaceHolder1_EmailPreferences1_lblDailyEmails,
#SavedRecipes h2,
#PasswordRecoverControl h1,		
#UpdatePanelPage  h1,	
#EmailPreferences1_lblDailyEmails,
#EmailPreferences1_lblMonthlyEmails,
#DietaryPreferencesLabel,		
#DietaryPreferencesTip h1,
#privacy h2 ,
#recipecontent h3,		
#CtrlDivSubTitle h2,		
#FeaturedArticleFull h3,		
#ContactUs h2, #EmploymentApplication h2,
#ContactUsThanks h2,
#AboutUs h3,	
#EmploymentPositionsHeader h1,
#StoreLocator h2,
#RecipeSaveToRecipeBox h1,
#ManageList h3,					
#QuickSearch ul	a,
#ContactUs hr, #ContactUsThanks hr,
#EmploymentApplication hr,
#CircularLists span a,
#FeaturedRecipeTeaser.recipe h2 a,
#MealPlanner.recipe h2 a,
.BtnPageLink				{color:#AC7806;}	

/* coupons page
--------------------------------------------------*/
#tblCouponTopN			{border:2px solid #AC7806; }
#CouponList h3			{color:#AC7806; }
#CouponList table table	th	{background-color:#AC7806; }
#CouponsPage .pageHeaderContainer 	{clear:both; float:left; height:60px; width:590px; background:transparent url(/Assets/119/images/manufacturers_coupons_copy.gif) no-repeat scroll 0pt 0pt;}
.couponsStoreSavings 	{background:transparent url(/Assets/119/images/store_coupons.png) no-repeat scroll 0pt 0pt;}

/* contact us page
--------------------------------------------------*/
#GeneralComments,
#DoWeMeetNeeds,
#FurtherSuggestions { display:none; }

#signUpPop1, #signUpPop2, #signUpPop3 {top:182px;left:300px;}

/* GSN Store Locator page
--------------------------------------------------*/
#main.storelocator 	{padding-left:0px;}
#StoreLocator		{padding-left:5px;}