.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}


#hbo-wrap { 
	background-color:#55AE3A;
	border-radius: 10px 10px 10px 10x;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	float:left;
	width:590px; 
	box-shadow: 3px 3px 4px rgba(0,0,0,.3);
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.3);
}
#hbo-header	{
	text-align: center;
	float:left;
	width:100%;
}
	
#hbo-header h1 { 
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	margin: 10px;
	width: 570px;
}

#hbo-header h1 span { 
	color: #ffffff;
	display: block;
	font-weight: bold;
	margin: 5px 0 0;
}

#hbo-header img { 
	margin:10px auto 0;
}
	
#hbo-main {
	background-color:#ffffff;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	float:left;
	margin:10px;
	width:570px;
}
	
#hbo-main h2 {
	border-bottom: none;
	margin: 0;
}

#hbo-main .hbo-product {
	float:left;
	text-align: center;
}
	
#hbo-main .hbo-product img {
	display: inline;
}

#hbo-main .hbo-product h2 {
	border: none;
	color: #26466D;
	font-size: 14px;
	margin:5px 0;
	padding:0;
}
	
#hbo-main .two-column .hbo-product {
	float:left;
}

.hbo-product{
	padding: 10px 20px;
	width: 150px;
}

#hbo-main .two-column {
	width:60%;
	margin:auto;
}

#hbo-main .three-column {
	float:left;
	width:100%;
}
	
#hbo-main .hbo-button { 
	background:#D43D1A url(/Assets/Common/Images/button_shine_30.png) left 50% repeat-x; 
	border:1px solid #D43D1A;
	border-radius:4px;
	color:#fff;
	display: block; 
	font:14px Arial, Helvetica, sans-serif;
	margin:5px auto;
	padding:.2em 0;
	text-decoration: none;
	width:120px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
	
/*------------------------------------------------*/
/* !IE 7 */
/*------------------------------------------------*/
*:first-child + html .group { min-height:1px; }
	
/*------------------------------------------------*/
/* !IE 6 */
/*------------------------------------------------*/
* html #hbo-main .hbo-button {
	background-image:none;
}
	
* html .group {
	height:1%;
}
	
* html #hbo-main .hbo-product-row {
	background-image: none;
}