/*Recipe Center Styles for App UI*/


/*---------------------------*/
/* !Main Styles */
/*---------------------------*/
a:hover				{ text-decoration: underline;}
a:hover h3			{ text-decoration: underline;} 
.gsn-recipecenter	{ float:left; width: 95%; 
background: url("http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/signup/signupbg.jpg"); 
						padding:15px; line-height: 1.2em; font-size: 14px;}

.gsn-recipecenter h1	{ color: #534741; font-size: 240%; font-family: 'Shadows Into Light', cursive; text-align: center; margin: 0 0 20px;}
.gsn-recipecenter h2	{ color: #534741; font-size: 130%;}
.recipe-center-footer h2{ 
	padding: 5px;
	background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/transparentgreybg.png') repeat; 
}
	
.gsn-recipecenter h3	{ font-size: 110%; color: #534741;}
.gsn-recipecenter h4	{ font-size: 100%; color: #534741;}
.tags					{ font-size: 10px; font-style: italic;}
.breadcrumbs			{ font-size: 80%; color: #666; padding: 10px 0;}
.breadcrumbs a			{ padding: 3px 10px; background: #FFF;background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/transparentwhitebg_64.png') repeat; border:1px solid #eee; border-radius: 10px;}


/*---------------------------*/
/* !Tab Boxes */
/*---------------------------*/

.gsn-recipecenter .gsn-box-tabs {
	background: #CDEEB8; width: 100%; border: none;
	border-radius: 10px 10px 10px 10px;
}

.gsn-box-tabs		{ float:left; }

.gsn-box-tabs .ui-tabs-panel {
	margin: 0 10px 10px; border-radius: 10px; float: left; width: 96%; min-height: 100px;
	background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/transparentwhitebg_64.png') repeat; 
}
.gsn-box-tabs .ui-widget-header {
	border: none; background: none; padding: 10px 10px 1px; width: 90%; margin: 0 auto;
}


.gsn-box-tabs .ui-state-default, 
.gsn-box-tabs .ui-widget-content .ui-state-default, 
.gsn-box-tabs .ui-widget-header .ui-state-default{
	background: none; border: none; font-size: 14px;
}

.gsn-box-tabs .ui-state-active, 
.gsn-box-tabs .ui-widget-content .ui-state-active, 
.gsn-box-tabs .ui-widget-header .ui-state-active{
	background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/transparentwhitebg_64.png') repeat; border: none;
	border-radius: 10px 10px 0 0;
}

/*---------------------------*/
/* !Header Styles */
/*---------------------------*/

.search-label		{ text-indent: -9999px; width: 20px;
						background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/recipesearch_bg.png') top center no-repeat; 
						position: absolute; margin: 5px;
}
.recipe-search-box	{ padding: 5px 5px 5px 30px; width: 400px;
					  border-radius: 10px 0px 0px 10px;
					  border: 1px solid #ccc;
}

#recipesearch		{ font-size: 12px; color: #999; font-style: italic;}
.advanced-search-link { float:right; font-size: 14px; width: 148px; text-align: center; 
						line-height: 23px; background: #CDEEB8;
						border-radius: 0px 10px 10px 0px; border-top: 1px solid #CCC; border-right: 1px solid #CCC; 
						border-bottom: 1px solid #CCC;
}


/*---------------------------*/
/* !Advanced Search */
/*---------------------------*/

#advancedSearchContainer{
	position: absolute; z-index: 1000; width: 90%; padding: 15px;
	background: #FFF; border: 1px solid #aaa;
	box-shadow: 0px 2px 10px rgba(0,0,0, 0.3)

}
.recipe-slider-input, .search-option {
	float:left; width: 30%; margin: 10px 0;
}
.recipe-slider-input input	{ font-size: 80%;}
.recipe-slider-input .ui-slider {
	 width: 85%; margin: 0 10px;
}
#searchButtons	{
	width: 100%; float:left; padding: 10px 0; text-align: right;
}

/*---------------------------*/
/* !Featured Slider */
/*---------------------------*/

.featured-slider .slides_container {
    width:98%; height:250px; margin: 10px auto 0; 
    border-radius: 10px;
}
.featured-slider  .slides_container div {
    width:100%; height:250px;  display:block;
}
.featured-slider h2	{ position: absolute; z-index: 500; margin: 0; padding: 10px;
	background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/transparentwhitebg_64.png') repeat; 
}
.featured-slider h2 .title	{ font-weight: normal;}

.featured-slider ul.pagination { background: rgba(255,255,255, 0.8);
    height: 25px; padding-left: 45%;  position: relative;  top: -25px; width: 54%; z-index: 500;
  
}
.featured-slider  .pagination li a	{ display:block; text-indent: -9999px; overflow: hidden;}
  
.featured-slider  .pagination li {
 	display: block;	float: left;
  	width: 10px;	height: 10px;
  	border-radius: 10px;	border: 1px solid #aaa;
  	background: white;	margin: 5px 2px 0;
}
.featured-slider  .pagination li.current { background:#CDEEB8; }

/*---------------------------*/
/* !Recipe Center Home */
/*---------------------------*/

.recipe-teaser 		{ float: left; margin: 15px; padding: 10px;  width: 41%;}
.recipe-teaser	a img	{ float:left; padding: 0 10px 0 0;}
.recipe-teaser:nth-child(odd) {clear:left;}

.recipe-teaser p	{ float: left; clear:right; line-height: 2.5em;}
.recipe-teaser-sponsored	{ background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/sponsored_bg.png') bottom right no-repeat #FCFCC0; border-radius: 5px; padding-bottom: 20px; }


a.more-link			{ font-size: 80%; width: 97%; float:left; text-align: right;}

.recipe-teaser-box	{ float: left; width:47%;}
.recipe-center-footer .box-left	{ margin-right: 33px;}

.teaser-description	{ font-size: 12px; color: 666;}
.popularmenupage-link { display:block; width: 100%; height: 75px; border-radius: 5px; 
						overflow: hidden; margin: 0 0 10px; }
.popularmenupage-link img {	min-width: 100%;}					
#popularMenusTeaser .popularmenupage-link img { margin-top: -45px;}
#HealthTeaser .popularmenupage-link img { margin-top: -45px;}

/*---------------------------*/
/* !Ask the Chef */
/*---------------------------*/
#RecipeHomeTabs .ask-the-chef { padding: 20px;}
#RecipeHomeTabs .ask-the-chef p { font-size: 80%; margin: 10px 0;}
#RecipeHomeTabs .ask-the-chef label	{ float:left; clear:left; margin-right: 10px; font-size: 90%; font-weight: bold;}
#RecipeHomeTabs .ask-the-chef input	{ float: left; clear:both; }
#RecipeHomeTabs .ask-the-chef textarea	{ float: left; width: 80%; clear:both; color: #777; padding: 10px; font-size: 90%;}

/*--------------------------*/
/*  !Recipe Full            */
/*--------------------------*/
.recipe-side-content	{ float:right; width: 43%;}
.recipe-side-content .main-image { width: 250px; height: 200px; border-radius: 5px; overflow: hidden;}
.recipe-full-image		{ min-width: 200px; min-height: 200px;}

.recipe-actions			{ float:left; padding: 10px; margin: 10px 10px 10px 0; 
							border: 1px solid #ccc; background: #fff; border-radius: 5px;}
.hrecipe h3				{ border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0 10px 10px;
							clear:left;
							background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/transparentgreybg.png'); }
.recipe-action-links	{ float:left; clear: both;}
.retweet-button, .facebook-like-button	{ float:left;}
.recipe-action-links li { padding: 5px 0 5px 35px}
.recipe-action-links li.email-list 				{ 
background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/recipe_email.png') left center no-repeat;}
.recipe-action-links li.save-recipe				{ background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/recipe_favorite.png') left center no-repeat;} 
.recipe-action-links li.add-checked-ingredients	{ background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/recipe_check.png') left center no-repeat;}
.recipe-action-links li.add-all-ingredients		{ background: url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/recipe_allchecked.png') left center no-repeat;}

.recipe-time			{ background:  url('http://foodcity.beta.groceryshopping.net/Assets/Common/Prototypes/AppUILayout/Images/recipecenter/clock.png') center no-repeat #CDEEB8;
							margin: 10px 0; float: left;
 }
.recipe-time h4 		{ float:left; width: 43%; padding: 10px 8px; text-align: center;}
.recipe-time h4 span	{ float:left; width:100%;}
.your-rating h4			{ float:left; margin-right: 10px}
.your-rating p			{ float:left;}

div.ingredients, 
div.cooking-instructions, 
div.nutrition-information	{ float: left; width: 100%;}

div.ingredients			{ float: left; width: 55%;}
div.ingredients ul		{ margin: 10px 0;}
.ingredient input		{ float:left;}
li.ingredient			{ padding: 3px 0; margin: 0 0 0 15px;}
.instructions li		{ margin: 15px 0 15px 15px;}


.recipe-teaser-box ul li{ margin: 5px 0;}