
body {
	font-family: "TrebuchetMS", "Tahoma", Sans-serif;}

a img{border: 0px none; margin: auto auto 20px;}

#matwrap {
	background-color: #E0DFB1;
	min-height: 600px;
	width: 100%;
	margin:auto;
	padding-bottom: 20px;
	}
	
#mattop {
	margin: auto;
	background-image: url(imgs/thankyou.jpg);
	background-position: center 20px;
	background-repeat: no-repeat;
	width: 90%;
	height: 510px;
}
	
#matwrap h1 {
	font-size: 18px;
	font-weight: normal;
	padding-left: 25px;
	padding-right: 25px;
	color: #47362F;
	line-height: 1.4em;
	width: 535px;
}

.matdirtop {
	width: 95%;
	margin: auto;
	
}

.matdirtop img{
	margin-left: 5px;
	margin-bottom:0px
}

.matdir{
	padding-top:0px;
	width: 534px;
	margin: auto;
	background-color: white;
	border-left: 1px solid #DBC2A9;
	border-bottom: 1px solid #DBC2A9;
	position:relative;
	font-size: 14px;
	font-weight: normal;
	color: #47362F;
}

.matdir p{
	padding: 10px 20px 0px 20px;
	font-size: 14px;
	margin-bottom: 10px;
	
	}

.matdir ul{
	line-height: 1em;
	margin-top:0px;
	padding: 10px 20px 0px 20px;
	list-style:disc outside none;
}

.matdir ul li{margin-left: 40px;}

.matdir ol{
	line-height: 1.4em;
	margin-top:0px;
	padding: 0px 20px 10px 40px;
}

.matdir li{
	padding-bottom: 10px;
	margin-top:0px;
}

.matvideotop {
	width: 95%;
	margin: 20px auto 0;	
}

#videoholder {
	width: 90%;
	margin: 10px auto 10px;
	padding-top: 10px;
}

