/*------------------------------------------------*/
/* !west side market place
/*------------------------------------------------*/
html				{height:100%; background: transparent url(/Assets/47/Images/bricks_background.jpg) repeat-x fixed;}
body 				{font-size:0.7em; height:100%; background:transparent; font-weight:normal; font-style:normal; color:black; margin-top:0; margin-left:0 ;padding-left:0; padding-right:0; }
a:link,
a:visited,
a:active			{font-weight:bold; color:#275A96; text-decoration:none;}
a:hover				{font-weight:bold; color:#275A96; text-decoration:underline;}
h2				{color:#275A96;}
#imgSubHeader			{clear:both; float:left;}
/*------------------------------------------------*/
/* !header
/*------------------------------------------------*/
#StoreHeaderRightTop 		{border: 0; margin-bottom:17px; background: transparent url(../../Common/Images/whiteTransparent80.png);}
/*------------------------------------------------*/
/* !header
/*------------------------------------------------*/
#StoreHeader			{background: transparent url(/Assets/47/Images/HeaderBG.jpg) no-repeat top right;}
#StoreHeaderRightTop 		{border: solid 3px #275A96; margin-bottom:10px; }
#StoreHeaderLogo		{margin:12px 0 0 0 ;}
/*------------------------------------------------*/
/* !nav bar
/*------------------------------------------------*/
#nav			{background-color:#275A96; color:yellow; }
#nav ul			{ float:left; margin-left:180px; }
#nav li a		{ color:#fff; }
#nav li a:hover		{ color:#FFFF66; text-decoration:none; }
/*------------------------------------------------*/
/* !featured teasers
/*------------------------------------------------*/
#FeaturedRecipeTeaser		{margin:0 1% 0 0; background:transparent url(/Assets/47/Images/lightblue_gradient.jpg) repeat-x; }
#FeaturedArticleTeaser		{background:transparent url(/Assets/47/Images/lightblue_gradient.jpg) repeat-x; }
#AskTheChefTeaser		{background:transparent url(/Assets/47/Images/lightblue_gradient.jpg) repeat-x; }
#CookingTipsTeaser		{background:transparent url(/Assets/47/Images/lightblue_gradient.jpg) repeat-x; }
#FeaturedArticleTeaser h3,
#AskTheChefTeaser h3,
#CookingTipsTeaser h3,
#FeaturedRecipeTeaser h3,
#FeaturedRecipeTeaser p		{color:#FFFFFF;}
#FeaturedRecipeTeaser.recipe p	{color:#000000;}

#DualContentControlDiv		{margin:0 3% 0 0; }

/*------------------------------------------------*/
/* !splash page
/*------------------------------------------------*/
#AdPromo			{background:transparent url(/Assets/47/Images/large_blue_gradient.jpg) repeat-x;}
#AdPromo p			{color:#FFFFFF;}

/*------------------------------------------------*/
/* !meal planner
/*------------------------------------------------*/
#MealPlanner			{background:transparent url(/Assets/47/Images/lightblue_gradient.jpg) repeat-x;}
#MealPlanner a			{color:#003366;}

/*------------------------------------------------*/
/* !shopping list
/*------------------------------------------------*/
#ShoppingList			{padding:0;}
#savedshoppinglists h2		{color:#C02407; border-bottom:1px solid #275A96;}

/*------------------------------------------------*/
/* !manage list legend
/*------------------------------------------------*/
#legend th			{background-color:#275A96;}

/*------------------------------------------------*/
/* !coupons grid
/*------------------------------------------------*/
#tblCouponTopN			{border:2px solid #275A96; }
#CouponList h3			{color:#275A96; }

/*------------------------------------------------*/
/* !3-panel toolbox
/*------------------------------------------------*/
#Department h3, #Aisles h3, #Category h3	{color:#275A96; }
#InBetween1, #InBetween2			{color:#275A96; }

/*------------------------------------------------*/
/* !grid styles
/*------------------------------------------------*/
#CategoryHeader h3		{color:#275A96; }
.GridItem			{clear:both; text-align:left; background-color: #FFFFFF; color: #000000; font-weight: bold;}
.GridItem th			{text-align:left; background-color: #275A96; color: #FFFFCC; font-weight: bold;}
.GridAlternatingItem		{text-align:left; background-color: #CCCCCC; color: #000000; font-weight: bold;}
#CircularAdText1_dlCategory h3	{color:#275A96;}
/*------------------------------------------------*/
/* !recipe page
/*------------------------------------------------*/
#RecipeCardTop					{width:100%; height:42px; padding:0; background:none;}
#RecipeCardMiddle				{background:none; background-color:#f4F1cf; }
#RecipeCardBottom				{display:none;}
#FeaturedRecipeTeaser.recipe,
#MealPlanner.recipe				{margin-top:12px;}
/*------------------------------------------------*/
/* !heading text
/*------------------------------------------------*/ 
 #ctl00_ContentPlaceHolder1_EmailPreferences1_lblDailyEmails,
#SavedRecipes h2,
#PasswordRecoverControl h1,		
#UpdatePanelPage  h1,	
#EmailPreferences1_lblDailyEmails,
#EmailPreferences1_lblMonthlyEmails,
#DietaryPreferencesLabel,		
#DietaryPreferencesTip h1,
#privacy h2 ,
#recipecontent h3,		
#CtrlDivSubTitle h2,		
#FeaturedArticleFull h3,		
#ContactUs h2, #EmploymentApplication h2,
#ContactUsThanks h2,
#AboutUs h3,	
#EmploymentPositionsHeader h1,
#StoreLocator h2,
#RecipeSaveToRecipeBox h1,
#ManageList h3,					
#QuickSearch ul	a,
#QuickSearch h2, 
#ContactUs hr, #ContactUsThanks hr,
#EmploymentApplication hr,
#CircularLists span a				{color:#275A96;}	
/*------------------------------------------------*/
/* !about us page
/*------------------------------------------------*/
#StoreSelector					{background-color:#70A6A4; }
/*------------------------------------------------*/
/* !registration page
/*------------------------------------------------*/
#signUpPop1, #signUpPop2, #signUpPop4 {top:192px;}