#PromoContainer {width:600px;}
.PromoHeader {margin:15px 10px 0;float:left;width:590px;display:inline;}
.PromoHeader p {color:gray;padding-bottom:15px;border-bottom:1px dotted #414141;font-size:1.3em;}
.PromoDescription {margin:25px;float:left;display:inline;}
.CategoryDiv {float:left;margin:10px;border-bottom:1px dotted #414141;height:260px;width:590px;display:inline;}
.CategoryImage {width:300px;float:left;}
.CategoryDetails {float:left;width:250px;margin:0 0 0 20px;}
.CategoryDetails p {font-size:.9em;}
.ProductName {text-transform:uppercase;color:gray;font-weight:bold;}
.ProductList {}
div#PromoContainer a.button {background:url(../images/purina_button_right.jpg) no-repeat right top;float:right;margin-left:10px;}
div#PromoContainer a.button span {background:url(../images/purina_button_left.jpg) no-repeat left top;}
div#PromoContainer a.button:hover {background:url(../images/purina_button_right.jpg) no-repeat right bottom;color:gray;}
div#PromoContainer a.button:hover span {background:url(../images/purina_button_left.jpg) no-repeat left bottom;color:gray;}

* HTML #PromoContainer {float:left;width:550px;}