@import	url("BirdsEye.css");

#promoLP-header .promoLP-logo { margin-bottom: 10px;}

.promoLP-group-wrap	{ 
	background: none repeat scroll 0 0 white;
    border: 1px solid #CCCCCC;
    float: left;
    height: 405px;
    margin: 15px 0 0;
    padding: 5px;
}


#promoLP-main .promoLP-product-listing { 
	border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin: 0;
    padding: 10px 0;}

#promoLP-main .promoLP-product { overflow:scroll; float: right; clear: right;}

.promoLP-product-header {
    height: 325px;
    float: left;
    clear: none;
    width: 265px;
}

.promoLP-group-wrap h3 {
    border: medium none;
    color: #B60308;
    display: block;
    font-family: arial,helvetica,sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

.promoLP-product-header img {  width: 265px;}

#promoLP-main .promoLP-product p { margin: 0;}