/*
   style.css
   Campbells Landing Page
   
   Created by David Nussbaum on 2009-9-22
   
   Revised by Andy Park on 2009-10-26.
   Copyright 2008 Grocery Shopping Network All rights reserved.
*/

/* =Campbells Styles */
div#PromoContainer div { float:left; *float:none; }



div#PromoContainer { 
	font-family:Tahoma,Times,serif !important;
 }

div#PromoContainer h2 {
	color:#000;
	font-size:22px;
	font-weight:bold;
	border:none;	
}

div.CategoryDetails p { 
	font-style:italic;
	font-size:15px;
	font-style:italic;
	font-weight:bold;
 }
 
 span.ProductName { 
	font-weight:bold;
}

div#PromoContainer a.button, div#PromoContainer a.button:hover { 
	background-image:url(/Assets/Common/Images/red_button_right.gif);
}

div#PromoContainer a.button:hover { 
	background-position:right -18px;
}

div#PromoContainer a.button span, div#PromoContainer a.button span:hover { 
	background-image:url(/Assets/Common/Images/red_button_left.gif);	
}

div#PromoContainer a.button span:hover { 
	background-position:0 -18px;
}

span.Registered		{ font-size:9px; }

h2 span.Registered	{vertical-align:top; margin-left:2px;}
p span.Registered 	{font-style:normal;position: relative; bottom:5px;margin-left:4px;}

div.CategoryDiv { border-bottom:1px solid #666; clear:both; margin:2em 0; padding-bottom:1em;}
div.CategoryImage { width:35%; }
div.CategoryDetails { width:65%; }
div.ProductRow { clear:both; margin:0.5em 0;}
span.ProductName { display:block; float:left; }