.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}


#hbo-wrap { 
	background-color:#F99A0C; 
	width:590px; 
}
#hbo-header	{
	background-color:#F99A0C;
	text-align: center;
	float:left;
	width:100%;
}
	
#hbo-header h1 { 
	display: none; 
}

#hbo-header img { 
	display: inline; 
}
	
#hbo-main { 
	background-color:#fff1ba; 
	float:left;
	width:100%;
}
	
#hbo-main h2{
	border: medium none;
    color: #2E1A03;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 25px 20px 0;
    text-align: center;
    width: 90%;
    
}
	
#hbo-main .hbo-product-row {
	background:transparent url(../Images/row_separator.png) no-repeat 50% top;
	margin:1em 0;
}

#hbo-main .hbo-product {
	float:left;
	text-align: center;
}
	
#hbo-main .hbo-product img {
	display: inline;
}

#hbo-main .hbo-product h2 {
	border: none;
	color: #c41a37;
	font-size: 18px;
	display:none;
	width: 1px;
}
	
#hbo-main .two-column .hbo-product {
	float:left;
}

.hbo-product{
	padding: 4% 5% 2%;
	clear: none;
	width: 135px;
}

#hbo-main .two-column {
	width:60%;
	margin:auto;
}

#hbo-main .three-column {
	float:left;
	width:100%;
}
	
#hbo-main .hbo-button { 
	background:#c41a37 url(/Assets/Common/Images/button_shine_30.png) left 50% repeat-x; 
	border:1px solid #c41a37;
	border-radius:4px;
	color:#fff;
	display: block; 
	font:14px Arial, Helvetica, sans-serif;
	margin:1em auto;
	padding:.2em 0;
	text-decoration: none;
	width:120px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
	
/*------------------------------------------------*/
/* !IE 7 */
/*------------------------------------------------*/
*:first-child + html .group { min-height:1px; }
	
/*------------------------------------------------*/
/* !IE 6 */
/*------------------------------------------------*/
* html #hbo-main .hbo-button {
	background-image:none;
}
	
* html .group {
	height:1%;
}
	
* html #hbo-main .hbo-product-row {
	background-image: none;
}