#PromoContainer {width:600px;}
.PromoHeader {margin:25px 10px 0;float:left;width:590px;display:inline;}
.PromoHeader p {color:gray;padding-bottom:15px;border-bottom:1px dotted #414141;font-size:1.3em;}
.PromoDescription {margin:25px;float:left;display:inline;}
.CategoryDiv {float:left;margin:10px;border-bottom:1px dotted #414141;height:250px;width:590px;display:inline;}
.CategoryImage {width:260px;float:left;}
.CategoryDetails {float:left;}
.ProductName {text-transform:uppercase;color:gray;font-weight:bold;}
.ProductList {margin:0 0 0 18px;}
div#PromoContainer a.button {background:url(../images/deliflats_button_right.gif) no-repeat right top;}
div#PromoContainer a.button span {background:url(../images/deliflats_button_left.gif) no-repeat left top;}
div#PromoContainer a.button:hover {background:url(../images/deliflats_button_right.gif) no-repeat right bottom;color:gray;}
div#PromoContainer a.button:hover span {background:url(../images/deliflats_button_left.gif) no-repeat left bottom;color:gray;}

* HTML #PromoContainer {float:left;width:550px;}