/* Roundy's Supermarkets CSS */

html {background: url(/Assets/225/Images/bkg_roundys.png) repeat-x fixed 0 0 #1d1f2e;}
body {margin:0;}
/*a {outline:0;}*/
.clearFloat {clear:both;}
a {text-decoration: none;}
p {color:#1a1818;font-family:georgia,times,serif;font-size:13px;line-height:21px;}
img {border:none;display:block;}
#container {background-image: none;background-color:#ffffff;margin:0 auto;padding:25px 0 494px;width:785px;-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.3);-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.3);box-shadow:0px 3px 6px rgba(0, 0, 0, 1);}
#mainContent {margin:25px 0 0 0;}
#mainContent p {margin:0 auto;padding:15px 0;text-align:center;width:750px;}
#mainLogo {margin:0 auto;}
.main-wrapper {width: 785px;}

.logoRow_1 {display:block; height:80px; margin:10px 0 0 195px;}
.logoRow_2 {display:block; height:80px; margin:0 0 0 195px;}

.logoRow_1 a.chainLogo_pns,
.logoRow_1 a.chainLogo_copps{display:inline-block; float:left; margin:0 60px 0 0; width:160px; height:80px;}
/* pickNsave */
.logoRow_1 a.chainLogo_pns {background:url(/Assets/225/Images/logo_btn_pns.jpg) no-repeat 0px 0px; text-decoration:none;}
.logoRow_1 a.chainLogo_pns:hover {background:url(/Assets/225/Images/logo_btn_pns.jpg) no-repeat 0px -80px; text-decoration:none;}
/* copps */
.logoRow_1 a.chainLogo_copps {background:url(/Assets/225/Images/logo_btn_copps.jpg) no-repeat 0px 0px; text-decoration:none;}
.logoRow_1 a.chainLogo_copps:hover {background:url(/Assets/225/Images/logo_btn_copps.jpg) no-repeat 0px -80px; text-decoration:none;}

.logoRow_2 a.chainLogo_metro,
.logoRow_2 a.chainLogo_marianos {display:inline-block; float:left;margin:0 60px 0 0; width:160px; height:80px;}
/* metro */
.logoRow_2 a.chainLogo_metro {background:url(/Assets/225/Images/logo_btn_metro.jpg) no-repeat 0px 0px; text-decoration:none;}
.logoRow_2 a.chainLogo_metro:hover {background:url(/Assets/225/Images/logo_btn_metro.jpg) no-repeat 0px -80px; text-decoration:none;}
/* marianos */
.logoRow_2 a.chainLogo_marianos {background:url(/Assets/225/Images/logo_btn_marianos.jpg) no-repeat 0px 0px; text-decoration:none;}
.logoRow_2 a.chainLogo_marianos:hover {background:url(/Assets/225/Images/logo_btn_marianos.jpg) no-repeat 0px -80px; text-decoration:none;}
.employee {margin: 10px 0; float: left; }
.pulse-survey {margin: 20px 13px; float: left;}
.pulse-survey img {width: 100%;}
.employeeImage {margin: -20px auto;}

#mainContent .btmRow_container {display:block; width:392px; margin:20px 0px 0px 0px; padding:0px; float:left; text-align:center;}
#mainContent .btmRow_container p {width:392px; margin:0px; padding:0px 0px 10px 0px; text-align:center;}
#mainContent .btmRow_container a.investRelations_btn {
	background:url(/Assets/225/Images/btn_investRelations.png) no-repeat 0px 0px; text-decoration:none; display:inline-block; width:179px; height:27px;}
#mainContent .btmRow_container a.investRelations_btn:hover {
	background:url(/Assets/225/Images/btn_investRelations.png) no-repeat 0px -27px; text-decoration:none; text-decoration:none;}
#mainContent .btmRow_container a.corpCareers_btn {
	background:url(/Assets/225/Images/btn_corpCareers.png) no-repeat 0px 0px; text-decoration:none; display:inline-block; width:179px; height:27px;}
#mainContent .btmRow_container a.corpCareers_btn:hover {
	background:url(/Assets/225/Images/btn_corpCareers.png) no-repeat 0px -27px; text-decoration:none; text-decoration:none;}
	


