.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#promoLP-wrap { 
	background-color:#fff;
	float:left;
	padding:10px;
	width:570px; 
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.1);-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.1);box-shadow: 3px 3px 4px rgba(0,0,0,.1);
}

#promoLP-header	{
	float: left;
	width: 100%;
}
	
#promoLP-header .promoLP-logo { 
	float: left;
}

#promoLP-header h1 { 
	display: none; 
}

#promoLP-header h2{
	border-bottom:none;text-align:center;display:none;
}
	
#promoLP-main { 
	float:left;
	width: 100%;
}
	
#promoLP-main .promoLP-product {
	background-color:#FFFFFF;
	border-top:0;
	border-right: 10px solid #aec241;
	border-bottom:  10px solid #aec241;
	border-left: 10px solid #aec241;
	float:left;
	margin:0;
	padding:0px 10px 10px 10px;
	width:510px;
}
	
#promoLP-main .promoLP-product img {
	display: inline;
	max-height:175px;
}

#promoLP-main .promoLP-product h3 {
	border: none;
	color: #c41a37;
	display:block;
	font-size: 16px;
	margin:10px 0;
	padding:0;
}

#promoLP-main .promoLP-product p {
	margin:3px 0 2px 0;
	line-height: 12px;
	padding-left: 15px;
}

div.promoLP-product-listing em {padding-left: 15px; display:block;}
	
#promoLP-main .promoLP-button { 
	background:#c41a37 url(../../../Images/button_shine_30.png) left 50% repeat-x; 
	border:1px solid #c41a37;
	border-radius:4px;
	color:#fff;
	cursor:pointer;
	display: none; 
	font:10px Arial, Helvetica, sans-serif;
	margin:4px 5px 32px auto;
	padding:.2em 0;
	text-decoration: none;
	width:25px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	float:left;
	text-align: center;
}

.promoLP-product-listing {
	width:240px;
	padding:0;
	float:left;
	text-align: left;
	min-height: 62px;
	margin-right: 15px;

}

div.promoLP-product-listing a		{background: url("http://villagemarket.beta.groceryshopping.net/Assets/Common/Promotions/Nestle/NestleNewYear/images/NNYbutton.png") 0 8px no-repeat; color:#000; font-weight:normal;text-decoration:none; display: block; 
}

div.promoLP-product-listing a:hover	{background: url("http://villagemarket.beta.groceryshopping.net/Assets/Common/Promotions/Nestle/NestleNewYear/images/NNYbuttonHOver.png") 0 8px  no-repeat;color:#f89829; font-weight:normal; text-decoration:none; cursor:pointer;display: block;
}

#nnyDisclaimer {
	font-size:9px;
    padding-left: 10px;
    padding-right: 10px;
    width: 94%;
}
	
/*------------------------------------------------*/
/* !IE 7 */
/*------------------------------------------------*/
*:first-child + html .group { min-height:1px; }
	
/*------------------------------------------------*/
/* !IE 6 */
/*------------------------------------------------*/
* html #promoLP-main .sargento-button {
	background-image:none;
}
	
* html .group {
	height:1%;
}