#secondary-navigation {clear:both;}

#Promotion-Inner {float:left;width:100%;clear:both;}

#Promotion-Inner div {float:left;}

.promotionHeader {
	background:#fff url(images/savings_header.jpg) no-repeat bottom right;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	height:170px;
	padding-left:1em;
	width:100%;
}

.promotionHeader h1 { 
	color:#808080; 
	font-weight:normal;
	font-size:22px;
	line-height:1.5em;
	width:100%;
}

.promotionHeader h1 span { 
	color:#F7931E; 
	font-weight:bold;
	font-size:28px;
	margin-left:3px;
	text-transform:uppercase;
	vertical-align:-3px;
}

.promotionHeader p {
	background:#fff url(images/subhead_bg.png) no-repeat top left;
	color:#808080;
	font-size:14px;
	font-weight:bold;
	height:61px;
	line-height:1.5em;
	padding:5px 15px 0;
	text-align:center;
	width:358px;	
}

.promotionHeader p span {
	color:#F7931E;
	font-size:18px;
	font-weight:bold;
}

#failover {
	background-image:url(images/hts_bkg.png);
	background-repeat:no-repeat;
	background-position:top left;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
	padding:1em;
	height:350px;
	width:550px;
	padding:40px 0 0 45px;
}

.linkColumn {
	float:left;
	width:250px;
	margin:0 8px 0 0;
}

.linkColumn  li, .linkColumn  a {
	background-color:transparent;
	background-repeat:no-repeat;
	display:block;
	height:45px;
}
	
.linkColumn  li { 
	background-image:url(images/SlidingDoors_bg_right.gif);
	background-position:top right;
	float:left;
	margin:0 0 8px 0;
}
	
.linkColumn  li a {
	background-image:url(images/SlidingDoors_bg_left.gif);
	background-position:top left;
	font-weight:bold;
	color:#808080;
	font-size:12px;
	padding:8px 0 0 8px;
	width:242px;
}

.linkColumn  li a:link {text-decoration: none}
.linkColumn li a:visited {text-decoration: none}
.linkColumn li a:hover {text-decoration: none; color:#000000;}
.linkColumn li a:active {text-decoration: none; color:#F7931E;}

.linkActive { color:#F7931E; }
.linkColumn li a { color:#808080; }

#bodytext p {
	float:left;
	font-size:13px;
	width:480px;
	padding:0 0 0 13px;
	color:#808080;
}

