@charset "UTF-8";
/* CSS Document */

#momcontainer a {
	color: #33C;
	font-weight:900;
	font-family:Arial, Helvetica, sans-serif;
}

a:link {
	color: #33C;
	font-weight:900;
}

#momcontainer a:hover {
	color: #39C;
	font-weight:900;
}

#momcontainer h2 {
	font-size: 21px;
	text-align:center;
	border-bottom: none;
}

#momcontainer h3{
	margin-top: 0px;
	margin-bottom: 5px;
	text-transform: capitalize;
	font-style:oblique;
	font-size: 18px;
}

#momcontainer{
	width: 570px;
	background-image: url(img/bg.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color: #e2f4f8;
	padding: 10px;
	margin: auto;
}

#topcontainer{
	background-image:url(img/topimg.jpg);
	background-repeat:no-repeat;
	height: 270px;
	background-color:#FFF;
	border:thin;
	border-color:#000;
}

#content {
	font-size: 18px;
}

.momredtext{
	color: #C00;
	font-weight:bold;
}

.item {
	background-image:url(img/itembg.png);
	background-repeat:repeat-x;
	min-height: 140px;
}

.itemimg {
	height: 100px;
	width: 100px;
	float: left;
	background-color: #333;
	margin: 20px;
}

.itemtext {
	margin-top: 20px;
	font-size: 12px;
	float: right;
	padding-right: 20px;
	width: 400px;
}


